<!-- Created by Josh Pagley on 2/22/14. -->

<% include includes/header.ejs %>

<div class="container">

    <div class="jumbotron text-center">
        <h1><%= title%></h1>

        <a href="/login" class="btn btn-default"><span class="glyphicon glyphicon-user"></span> Login</a>
        <a href="/signup" class="btn btn-default"><span class="glyphicon glyphicon-user"></span> Signup</a>
    </div>

</div>


<% include includes/footer.ejs%>
