
html {
    height:100%;
}

body {
    color:#444;
    height:100%;
}


/*bootstrap overrides******************************************************/

.list-group-item {
    position: relative;
    display: block;
    padding: 20px;
    margin-bottom: -1px;
    background: none;
    border: none;
    font-size:16px;
    font-weight:bold;
}

.list-group-item span {
    font-size:19px;
}

.list-group-item a {
    position: relative;
    display: block;
    margin-bottom: -1px;
    border: none;
    -moz-transition: color .15s ease-in-out;
    -webkit-transition: color .15s ease-in-out;
    -o-transition: color .15s ease-in-out;
    -ms-transition: color .15s ease-in-out;
    transition: color .15s ease-in-out;
}

.list-group-item a:hover {
    color:mediumpurple;
    -moz-transition: color .15s ease-in-out;
    -webkit-transition: color .15s ease-in-out;
    -o-transition: color .15s ease-in-out;
    -ms-transition: color .15s ease-in-out;
    transition: color .15s ease-in-out;
}

.list-group-item a:active {
    color:mediumpurple;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 12px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: inherit;
    white-space: nowrap;
}

.dropdown-menu > li > a .secondary-container {
    overflow: hidden;
}

.dropdown-menu > li > a h5 {
    font-size:12px;
}

.dropdown-menu > li > a .secondary {
    font-size:10px;
}

.dropdown-menu > li > h6 {
    display: block;
    padding: 3px 12px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: inherit;
    white-space: nowrap;
}

/*portal shell*************************************************************/

.portal-container {
    background:#f2f2f2;
    height:100%;
    min-width:1100px;
}

.portal-content {
    height:100vh;
    overflow-y: scroll;
    overflow:auto;
}

.portal-content .portal-shell-top-header h2 {
    font-size:35px;
    margin-top:3px;
}

.portal-content .top-logo {
    width:45px;
    margin:1px 10px 0 0;
}

.portal-content .top-icon {
    text-align:center;
    margin-top:10px;
}

.portal-content .top-icon .glyphicon {
    font-size:18px;
}

.portal-content .top-icon .glyphicon:hover {
    color:mediumpurple;
}

.portal-shell-left {
    background:#f2f2f2;
}

.portal-shell-left .lion-logo {
    margin-bottom:25px;
}

.portal-shell-left ul li span {
    margin-right:10px;
}

.portal-shell-top {
    padding:30px 0px 40px 0px;
}

.portal-shell-top h2 {
    color:mediumpurple;
    font-weight:bold;
}

.portal-shell-top .dropdown-container {
    height:25px;
    padding:1.5% 0 1.5% 1.5%;
    white-space:nowrap;
}

/*.portal-shell-top .dropdown-container .dropdown {
    text-align:center;
}*/

.portal-shell-top .portal-shell-top-content, .portal-shell-top-header {
    height:50px;
}

.portal-shell-top .dropdown-container .dropdown ul {
    text-align:left;
}

.portal-shell-top .dropdown-container .see-all-messages-area {
    text-align:center;
}

.portal-shell-top .dropdown-container .see-all-messages-area .see-all-link {
    color:mediumpurple;
    font-size:12px;
    font-weight:bold;
}

.portal-shell-top .dropdown-container .see-all-messages-area .see-all-link:hover {
    color:mediumpurple;
    font-size:12px;
    text-decoration:underline;
    font-weight:bold;
}

/*portal news feed**********************************************************/


/*portal news feed post*/

.portal-news-feed-post {
    margin-bottom:10px;
    padding:10px;
}

.portal-news-feed-post img {
    height:30px;
    margin:0px;
    padding:0px;
}

.portal-news-feed-posting {
    margin-bottom:10px;
    padding:10px;
}

.feed-main-posting {
    border-bottom:1px #ddd solid;
    padding-bottom:5px;
    margin-bottom:5px;
}

.feed-main-posting .feed-posting-body {
    padding:7px 0;
}

.feed-main-posting .church-photo {
    width:50px;
}

.feed-main-posting .church-name {
    font-weight:bold;
}

.feed-main-posting .church-date {
    color:#aaa;
    font-size:11px;
}

.feed-main-posting .church-text {
    font-size:14px;
    padding-top:10px;
}

.feed-main-posting-likes {
    border-bottom:1px #ddd solid;
    padding-bottom:5px;
    margin-bottom:5px;
}

.feed-main-posting-all-comments {
    margin-bottom:5px;
}

.comment-name {
    font-weight:bold;
}

.comment-date {
    color:#aaa;
    font-size:11px;
    float:left;
    margin-left:10px;
}

.comment-text {
    font-size:14px;
}

.portal-news-feed-more-link {
    text-align:center;
}

.portal-news-feed-more-link .see-all-link {
    color:mediumpurple;
    font-size:12px;
    font-weight:bold;
}

.portal-news-feed-more-link .see-all-link:hover {
    color:mediumpurple;
    font-size:12px;
    text-decoration:underline;
    font-weight:bold;
}

/*portal settings form******************************************************/

.settings-form .glyphicon-info-sign {
    font-size:17px;
    color:#ccc;
    padding-top:2.5%;
}

.settings-form .glyphicon-remove {
    text-align:center;
}

.settings-form .add-service {
    padding-left:1%;
}

.single-settings-form {
    padding:1%;
}


/*portal sermons******************************************************/

.sermon-list {
    border-top:1px #ddd solid;
}

.single-sermon {
    border-bottom:1px #ddd solid;
    padding:20px 0;
}

.sermon-info {
    padding:0px 0px 0px 1px;
}

.sermon-number {
    padding:5px 0px 5px 25px;
}

.sermon-number .sermon-number-inner {
    border:3px #aaa solid;
    border-radius:100%;
    width:31px;
    height:31px;
}

@media (max-width: 1400px) {
    .sermon-info {
        padding:0px 0px 0px 10px;
    }

    .sermon-number .sermon-number-inner {
        border:3px #aaa solid;
        border-radius:100%;
        width:29px;
        height:29px;
    }

    .sermon-number .sermon-number-inner h3 {
        font-size:22px;
    }
}

@media (max-width: 1300px) {
    .sermon-info {
        padding:0px 0px 0px 10px;
    }

    .sermon-number .sermon-number-inner {
        border:3px #aaa solid;
        border-radius:100%;
        width:27px;
        height:27px;
    }

    .sermon-number .sermon-number-inner h3 {
        font-size:20px;
    }
}


/*portal sermons home**************************************************/

.sh-single-sermon {
    padding-bottom:10px;
}

.sh-sermon-number {
    padding:5px 0px 5px 25px;
}

.sh-sermon-number .sh-sermon-number-inner {
    border:3px #aaa solid;
    border-radius:100%;
    width:31px;
    height:31px;
}

@media (max-width: 1400px) {
    .sermon-info {
        padding:0px 0px 0px 10px;
    }

    .sh-sermon-number .sh-sermon-number-inner {
        border:3px #aaa solid;
        border-radius:100%;
        width:29px;
        height:29px;
    }

    .sh-sermon-number .sh-sermon-number-inner h3 {
        font-size:22px;
    }
}

@media (max-width: 1300px) {
    .sermon-info {
        padding:0px 0px 0px 10px;
    }

    .sh-sermon-number .sh-sermon-number-inner {
        border:3px #aaa solid;
        border-radius:100%;
        width:27px;
        height:27px;
    }

    .sh-sermon-number .sh-sermon-number-inner h3 {
        font-size:20px;
    }
}

.portal-sh-posting {
    margin-bottom:10px;
    padding:10px;
}

.sh-main-posting {
    border-bottom:1px #ddd solid;
    padding-bottom:5px;
    margin-bottom:5px;
}

.sh-main-posting .sh-posting-body {
    padding:7px 0;
}

.sh-main-posting .church-photo {
    width:50px;
}

.sh-main-posting .church-name {
    font-weight:bold;
}

.sh-main-posting .church-date {
    color:#aaa;
    font-size:11px;
}

.sh-main-posting .church-text {
    font-size:14px;
    padding-top:10px;
}


/*portal sermon add edit**************************************************/

.sermon-edit .sermon-edit-label label {
    padding:5%;
}

.sermon-edit .sermon-upload-button {
    padding-left:1%;
}

.sermon-add-edit .sermon-info-area {
    border-bottom:1px #ddd solid;
    padding-bottom:20px;
    margin-bottom:20px;
}

.sermon-add-edit .right-button {
    padding-left:1%;
}

.sermon-add-edit h2 {
    font-weight:bold;
    margin-bottom:10px;
}


/*portal checkins*****************************************************/

.checkins-container .checkins-date-filter {
    padding-right:5px;
}

.checkins-container .checkins-searchbar1 {
    display:block;
    height:257px;
}

.checkins-container .checkins-searchbar2 {
    top:88%;
}

.checkins-container .checkins-searchbar1 {

}


/*portal members******************************************************/

.member-list {
    border-top:1px #ddd solid;
}

.single-member {
    border-bottom:1px #ddd solid;
    padding:20px 0;
}

/*portal messages******************************************************/

.messages-container {

}

.group-messages {
    height:500px;
    overflow-y: scroll;
    overflow:auto;
}

.single-message {
    border-bottom:1px #ddd solid;
    padding:5px;
}

.single-message .single-message-body {
    padding:7px 0;
}

.single-message .person-photo {
    width:50px;
}

.single-message .person-name {
    float:left;
    font-weight:bold;
}

.single-message .message-date {
    float:right;
    color:#aaa;
    font-size:11px;
}

@media (max-width: 1400px) {

    .single-message .single-message-body {
        padding:2px 0;
    }

    .single-message .person-photo {
        width:50px;
    }

    .single-message .person-name {
        float:left;
        clear:both;
        padding:0;
        margin:0;
    }

    .single-message .message-date {
        float:left;
        clear:both;
    }
}

.single-message .person-message {
    white-space: nowrap;
    overflow: hidden;
    color:#aaa;
    font-size:12px;
}

.live-conversation {
     height:500px;
 }

.live-conversation .live-conversation-members {
    border-bottom: 1px #ddd solid;
    padding: 5px 20px;
    overflow: hidden;
}

.live-conversation .live-conversation-members .conversation-head {
    font-weight:bold;
    font-size:11px;
    float:left;
    margin-right:5px;
}

.live-conversation .live-conversation-members .conversation-member {
    font-weight:bold;
    font-size:11px;
    color:mediumpurple;
    float:left;
    margin-right:5px;
}

.live-conversation .live-conversation-messages {
    height:348px;
    overflow-y: scroll;
    overflow:auto;
}

.single-conversation-message {
    padding:5px 20px;
}

.single-conversation-message .person-photo {
    width:50px;
}

.single-conversation-message .single-conversation-body {
    padding:7px 0;
}

.single-conversation-message .person-name {
    float:left;
    font-weight:bold;
}

.single-conversation-message .message-date {
    float:right;
    color:#aaa;
    font-size:11px;
}

.single-conversation-message .message-remove {
    float:right;
    margin:-2px 0 0 5px;
}

.single-conversation-message .person-message {
    white-space: pre-wrap;
    font-size:12px;
}

.write-message {
    border-radius: 0;
    padding:10px;
}

/*Portal Popups***************************************************/
.zion-connect-popup {
    /*display: block;*/
    position: fixed;
    top: 40%;
    left: 40%;
    width: 400px;
    height: 150px;
    text-align: center;
    /*padding: 20px;*/
    /*border-radius: 10px;*/
    /*background-color: #d3d3d3;*/
    /*background-color: rgb(68,64,97);*/
    z-index:2002;
    overflow: auto;
}

.zion-connect-create-series-popup {
    display: block;
    position: fixed;
    top: 25%;
    left: 25%;
    width: 400px;
    height: 400px;
    text-align: center;
    z-index:2002;
    overflow: auto;
}

.zion-connect-page-header {
    color: rgb(68,64,97);;
    /*color: #4a7c97;*/
    position: absolute;
    top: -8%;
    left: 8%;
}

