<!-- Created by John Pagley on 3/30/14 -->

<!--checkins container-->
<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 checkins-container">
    <!--checkins filter criteria-->
    <div class="col-lg-12 col-md-12">


        <div class="col-lg-6 col-md-6">
            <!--checkins filter-->
            <div class="col-lg-12 col-md-12">
                <!--checkins filter panel-->
                <div class="panel panel-default">
                    <!--checkins filter panel head-->
                    <div class="panel-heading">
                        <h3 class="panel-title purple-header">Filter Grid</h3>
                    </div>
                    <!--checkins filter panel body-->
                    <div class="panel-body">
                        <!--checkins filter panel form-->
                        <form>
                            <!--checkins filter service-->
                            <div class="col-lg-12 col-md-12 form-group">
                                <label class="control-label" for="checkinService">Filter by Service</label>
                                <select class="form-control" id="checkinService" name="checkinService" title="Service">
                                    <option>Sunday 8:00 am (1/2/14)</option><!--checkins service single time-->
                                    <option>Sunday 9:00 am (1/2/14)</option><!--checkins service single time-->
                                    <option>Sunday 10:00 am (1/2/14)</option><!--checkins service single time-->
                                </select>
                            </div>
                            <!--checkins filter date-->
                            <div class="col-lg-12 col-md-12 form-group">
                                <div class="col-lg-6 col-md-6 checkins-date-filter">
                                    <label class="control-label" for="serviceStartDate">Start Date</label>
                                    <input class="form-control" type="search" id="serviceStartDate" />
                                    <p class="text-muted font-11">i.e. 5/11/2012</p>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <label class="control-label" for="serviceEndDate">End Date</label>
                                    <input class="form-control" type="search" id="serviceEndDate" />
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <a href="" class="btn btn-grey pull-right">Populate</a><!--checkins populate button-->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--checkins filter populate-->
            <!--<div class="col-lg-12 col-md-12 checkbox">-->
                <!--<label><input type="checkbox"> New Members Only</label>&lt;!&ndash;checkins new members checkbox&ndash;&gt;-->
            <!--</div>-->
        </div>
        <!--checkins grid search bar-->
        <div class="col-lg-6 col-md-6 form-group checkins-searchbar1">
            <div class="col-lg-6 col-lg-offset-6 col-md-6 col-md-offset-6 checkins-searchbar2">
                <div class="input-group checkins-searchbar3">
                    <input class="form-control" type="search" id="checkinSearch" /><!--checkins grid search bar field-->
                    <span class="input-group-addon"><a href="#"><span class="glyphicon glyphicon-search"></span></a></span><!--checkins grid search bar icon-->
                </div>
            </div>
        </div>
    </div>


    <!--checkins table-->
    <div class="col-lg-12 col-md-12 well well-sm table-responsive padding-5-25">
        <!--checkins table total-->
        <div class="col-lg-12 col-md-12 padding-2"><span class="bold pull-right">Total: 144</span></div>
        <!--checkins table grid-->
        <table class="table table-striped table-bordered table-hover">
            <!--checkins table head-->
            <thead>
                <tr>
                    <td>Name</td><!--checkins table head name-->
                    <td>Email</td><!--checkins table head email-->
                    <td>Address</td><!--checkins table head address-->
                    <td>Phone</td><!--checkins table head phone-->
                    <td>Birthday</td><!--checkins table head birthday-->
                    <td>Gender</td><!--checkins table head gender-->
                    <td>Relationship</td><!--checkins table head relationship-->
                </tr>
            </thead>
            <!--checkins table single row-->
            <tr>
                <td>John Doe</td><!--checkins table name-->
                <td>john@email.com</td><!--checkins table email-->
                <td>6312 SE 10th PL, Ocala, FL</td><!--checkins table address-->
                <td>352-333-3333</td><!--checkins table phone-->
                <td>6/9/1993</td><!--checkins table birthday-->
                <td>Male</td><!--checkins table gender-->
                <td>Single</td><!--checkins table relationship-->
            </tr>
            <!--checkins table single row-->
            <tr>
                <td>John Doe</td><!--checkins table name-->
                <td>john@email.com</td><!--checkins table email-->
                <td>6312 SE 10th PL, Ocala, FL</td><!--checkins table address-->
                <td>352-333-3333</td><!--checkins table phone-->
                <td>6/9/1993</td><!--checkins table birthday-->
                <td>Male</td><!--checkins table gender-->
                <td>Single</td><!--checkins table relationship-->
            </tr>
            <!--checkins table single row-->
            <tr>
                <td>John Doe</td><!--checkins table name-->
                <td>john@email.com</td><!--checkins table email-->
                <td>6312 SE 10th PL, Ocala, FL</td><!--checkins table address-->
                <td>352-333-3333</td><!--checkins table phone-->
                <td>6/9/1993</td><!--checkins table birthday-->
                <td>Male</td><!--checkins table gender-->
                <td>Single</td><!--checkins table relationship-->
            </tr>
            <!--checkins table single row-->
            <tr>
                <td>John Doe</td><!--checkins table name-->
                <td>john@email.com</td><!--checkins table email-->
                <td>6312 SE 10th PL, Ocala, FL</td><!--checkins table address-->
                <td>352-333-3333</td><!--checkins table phone-->
                <td>6/9/1993</td><!--checkins table birthday-->
                <td>Male</td><!--checkins table gender-->
                <td>Single</td><!--checkins table relationship-->
            </tr>
            <!--checkins table single row-->
            <tr>
                <td>John Doe</td><!--checkins table name-->
                <td>john@email.com</td><!--checkins table email-->
                <td>6312 SE 10th PL, Ocala, FL</td><!--checkins table address-->
                <td>352-333-3333</td><!--checkins table phone-->
                <td>6/9/1993</td><!--checkins table birthday-->
                <td>Male</td><!--checkins table gender-->
                <td>Single</td><!--checkins table relationship-->
            </tr>
        </table>
    </div>

</div>