<!-- Created by John Pagley on 3/30/14 -->

<!--checkins container-->
<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 border2">
    <!--checkins filter criteria-->
    <div class="col-lg-6 col-md-6 border1">
        <!--checkins filter service-->
        <div class="col-lg-12 col-md-12 border1">
            <label for="checkinService">Service</label>
            <select class="form-control" id="checkinService" name="checkinService" title="Service">
                <option>Sunday 8:00 am (1/2/14)</option><!--checkins service single time-->
                <option>Sunday 9:00 am (1/2/14)</option><!--checkins service single time-->
                <option>Sunday 10:00 am (1/2/14)</option><!--checkins service single time-->
            </select>
        </div>
        <!--checkins filter search-->
        <div class="col-lg-12 col-md-12 border1">
            <label for="checkinSearch">Search</label>
            <div class="input-group">
                <input type="search" id="checkinSearch" class="form-control" /><!--checkins search bar field-->
                <span class="input-group-addon"><a href="#"><span class="glyphicon glyphicon-search"></span></a></span><!--checkins search bar icon-->
            </div>
        </div>
        <!--checkins filter button-->
        <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 checkbox border1">
            <label><input type="checkbox"> New Members Only</label><!--checkins new members checkbox-->
        </div>
        <div class="col-lg-6 col-md-6 border1">
            <a href="" class="btn btn-purple pull-right">Populate</a><!--checkins populate button-->
        </div>
    </div>
    <!--checkins table-->
    <div class="col-lg-12 col-md-12 well well-sm table-responsive">
        <!--checkins table total-->
        <div class="col-lg-12 col-md-12 border1"><span class="pull-right">Total: 144</span></div>
        <!--checkins table grid-->
        <table class="table table-striped table-bordered table-hover">
            <!--checkins table head-->
            <thead>
                <tr>
                    <td>Name</td><!--checkins table head name-->
                    <td>Email</td><!--checkins table head email-->
                    <td>Address</td><!--checkins table head address-->
                    <td>Phone</td><!--checkins table head phone-->
                    <td>Birthday</td><!--checkins table head birthday-->
                    <td>Gender</td><!--checkins table head gender-->
                    <td>Relationship</td><!--checkins table head relationship-->
                </tr>
            </thead>
            <!--checkins table single row-->
            <tr>
                <td>John Doe</td><!--checkins table name-->
                <td>john@email.com</td><!--checkins table email-->
                <td>6312 SE 10th PL, Ocala, FL</td><!--checkins table address-->
                <td>352-333-3333</td><!--checkins table phone-->
                <td>6/9/1993</td><!--checkins table birthday-->
                <td>Male</td><!--checkins table gender-->
                <td>Single</td><!--checkins table relationship-->
            </tr>
            <!--checkins table single row-->
            <tr>
                <td>John Doe</td><!--checkins table name-->
                <td>john@email.com</td><!--checkins table email-->
                <td>6312 SE 10th PL, Ocala, FL</td><!--checkins table address-->
                <td>352-333-3333</td><!--checkins table phone-->
                <td>6/9/1993</td><!--checkins table birthday-->
                <td>Male</td><!--checkins table gender-->
                <td>Single</td><!--checkins table relationship-->
            </tr>
            <!--checkins table single row-->
            <tr>
                <td>John Doe</td><!--checkins table name-->
                <td>john@email.com</td><!--checkins table email-->
                <td>6312 SE 10th PL, Ocala, FL</td><!--checkins table address-->
                <td>352-333-3333</td><!--checkins table phone-->
                <td>6/9/1993</td><!--checkins table birthday-->
                <td>Male</td><!--checkins table gender-->
                <td>Single</td><!--checkins table relationship-->
            </tr>
            <!--checkins table single row-->
            <tr>
                <td>John Doe</td><!--checkins table name-->
                <td>john@email.com</td><!--checkins table email-->
                <td>6312 SE 10th PL, Ocala, FL</td><!--checkins table address-->
                <td>352-333-3333</td><!--checkins table phone-->
                <td>6/9/1993</td><!--checkins table birthday-->
                <td>Male</td><!--checkins table gender-->
                <td>Single</td><!--checkins table relationship-->
            </tr>
            <!--checkins table single row-->
            <tr>
                <td>John Doe</td><!--checkins table name-->
                <td>john@email.com</td><!--checkins table email-->
                <td>6312 SE 10th PL, Ocala, FL</td><!--checkins table address-->
                <td>352-333-3333</td><!--checkins table phone-->
                <td>6/9/1993</td><!--checkins table birthday-->
                <td>Male</td><!--checkins table gender-->
                <td>Single</td><!--checkins table relationship-->
            </tr>
        </table>
        <!--checkins table total bottom-->
        <div class="col-lg-12 col-md-12 border1"><span class="pull-right">Total: 144</span></div>
    </div>

</div>