
<!--portal news feed------------------------------------------------------------------------>
<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 portal-news-feed">
    <!--portal news feed post-->
    <div class="col-lg-12 col-md-12 well well-sm portal-news-feed-post">
        <!--post text box-->
        <div class="col-lg-12 col-md-12 form-group">
            <textarea class="form-control" rows="5" placeholder="Write something..." data-ng-model="newPostObj.body"></textarea><!--post text-->
        </div>
        <!--post action bar-->
        <div class="col-lg-12 col-md-12">
            <div class="col-lg-1 col-md-1"><a href="#"><span class="glyphicon glyphicon-picture glyphicon1"></span></a></div><!--post select image-->
            <div class="col-lg-11 col-md-11"><a href="" class="btn btn-purple pull-right" ng-click="createPost(newPostObj.body)">Post</a></div><!--post button-->
        </div>
    </div>
    <!--portal news feed posting-->
    <div class="col-lg-12 col-md-12 well well-sm well-inner portal-news-feed-posting" data-ng-repeat="post in posts | orderBy:post.createdAt:reverse">
        <!--posting from church-->
        <div class="col-lg-12 col-md-12 feed-main-posting">
            <!--church info-->
            <div class="media">
                <div class="pull-left">
                    <img class="media-object img-rounded church-photo" src="./images/meatowbrooklogo.jpg"/><!--church posting image-->
                </div>
                <div class="media-body feed-posting-body">
                    <div class="media-heading"><h5 class="church-name">{{post.author.name}}</h5></div><!--church name-->
                    <div><p class="church-date">{{post.ts | date:short}}</p></div><!--church posting date-->
                </div>
            </div>
            <!--posting text box-->
            <div class="col-lg-12 col-md-12 church-text">{{post.detail.text}}</div>
            <!--posting interation links-->
            <div class="col-lg-12 col-md-12">
                <ul class="list-inline post-link-list">
                    <li><a href="" class="post-link" ng-click="likeComment(sermon._id, comment._id, $index)">Like</a></li><!--like link-->
                    <li><a href="" class="post-link">Comment</a> <span class="badge">{{post.comments.length}}</span></li><!--comment link-->
                </ul>
            </div>
        </div>
        <!--posting comments-->
        <div class="col-lg-12 col-md-12 feed-posting-comments">
            <!--comments from users-->
            <div class="col-lg-12 col-md-12">
                <!--comments all posted-->
                <div class="col-lg-12 col-md-12 padding-5-0" ng-repeat="comment in post.comments  | orderBy:'createdAt':false">
                    <!--single comment-->
                    <div class="media">
                        <div class="media-body">
                            <div class="media-heading"><h5 class="comment-name">{{comment.author_name}}</h5></div><!--comments first name-->
                            <div><p class="comment-date">{{comment.createdAt | date:short}}</p></div><!--comments date-->
                        </div>
                        <div class="comment-text"><p>{{comment.body}}</p></div><!--comments comment-->
                    </div>
                </div>
                <!--comments text box-->
                <div class="col-lg-12 col-md-12 padding-5-0">
                    <div class="col-lg-11 col-md-11 padding-0-5-0-0">
                        <input class="form-control" type="text" id="commentText" name="commentText" placeholder="Write a comment..." data-ng-model="newCommentObj[post._id]" /><!--comments textarea-->
                    </div>
                    <div class="col-lg-1 col-md-1">
                        <a href="" class="btn btn-purple btn-block" type="submit" ng-click="createComment(post._id, $index)">Post</a><!--comments post button-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

