<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <link href="../../vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/portal-custom.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!--portal news feed------------------------------------------------------------------------>
<div>Hello This is the Name: {{ currentUser.name }}</div>
<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 portal-news-feed border1">
    <!--portal news feed post-->
    <div class="col-lg-12 col-md-12 portal-news-feed-post border1">
        <!--post text box-->
        <div class="col-lg-12 col-md-12 border1">
            <textarea class="col-lg-12 col-md-12" rows="5" placeholder="Write something..."></textarea><!--post text-->
        </div>
        <!--post action bar-->
        <div class="col-lg-12 col-md-12 border1">
            <div class="col-lg-1 col-md-1 border1"><a href="#"><img src="#" /></a></div><!--post select image-->
            <div class="col-lg-11 col-md-11 border1"><button class="btn btn-md btn-purple pull-right" type="submit">Post</button></div><!--post button-->
        </div>
    </div>
    <!--portal news feed posting-->
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 portal-news-feed-posting border1" data-ng-repeat="post in posts">
        <!--posting from church-->
        <div class="col-lg-12 col-md-12 border1">
            <!--church info-->
            <div class="col-lg-12 col-md-12 border1">
                <div class="col-lg-1 col-md-1 border1"><img src="#"/></div><!--church posting image-->
                <div class="col-lg-11 col-md-11 border1">
                    <h4>{{post.user}}</h4><!--church name-->
                    <h6>{{post.date | date:short}}</h6><!--church posting date-->
                </div>
            </div>
            <!--posting text box-->
            <div class="col-lg-12 col-md-12 border1">
                <div class="col-lg-12 col-md-12 border1"><p>{{post.message}}</p></div><!--posting text-->
            </div>
        </div>
        <!--posting comments-->
        <div class="col-lg-12 col-md-12 border1">
            <div class="col-lg-12 col-md-12 border1"><span class="glyphicon glyphicon-comment"></span> Comments <span class="badge">{{post.comments.length}}</span></div><!--comments link-->
            <!--comments from users-->
            <div class="col-lg-12 col-md-12 portal-news-feed-comments border1" data-ng-repeat="comment in post.comments">
                <!--comments all posted-->
                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 border2">
                    <!--single comment-->
                    <div class="col-lg-12 col-md-12 border1">
                        <div class="col-lg-12 col-md-12 border1">
                            <div class="col-lg-6 col-md-6 border1"><h4>{{comment.user}}</h4></div><!--comments first name-->
                            <div class="col-lg-6 col-md-6 border1"><h6>{{comment.date | date:short}}</h6></div><!--comments date-->
                        </div>
                        <div class="col-lg-12 col-md-12 border1"><p>{{comment.message}}</p></div><!--comments comment-->
                    </div>
                </div>
                <!--comments text box-->
                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 border1">
                    <textarea class="col-lg-10 col-md-10" rows="2" placeholder="Write a comment"></textarea><!--comments text-->
                    <div class="col-lg-2 col-md-2 border1"><button class="btn btn-md btn-purple pull-right" type="submit">Post</button></div><!--comments post button-->
                </div>
            </div>
        </div>
    </div>
</div>
</body>
