<!-- Created by Josh Pagley on 2/25/14.-->
<div class="col-sm-6 col-sm-offset-3">
    <h1><span class="glyphicon glyphicon-cog"></span> Settings</h1>

    <!-- Settings Form -->
    <form>
        <div class="form-group">
            <label>Church Name</label>
            <input type="text" class="form-control" name="name" value="{{currentUser.name}}" data-ng-model="updateObject.name">
        </div>
        <div class="form-group">
            <label>Address</label>
            <input type="text" class="form-control" name="address" value="{{currentUser.address.street}}" data-ng-model="updateObject.address">
        </div>
        <div class="form-group">
            <label>City</label>
            <input type="text" class="form-control" name="city" value="{{currentUser.address.city}}" data-ng-model="updateObject.city">
        </div>
        <div class="form-group">
            <label>State</label>
            <select class="form-control" name="state" value="{{currentUser.address.state}}" data-ng-model="updateObject.state">
                <option>AL</option>
                <option>AK</option>
                <option>AZ</option>
                <option>AR</option>
                <option>CA</option>
                <option>CO</option>
                <option>CT</option>
                <option>DE</option>
                <option>FL</option>
            </select>
        </div>
        <div class="form-group">
            <label>Zip</label>
            <input type="text" class="form-control" name="zip" value="{{currentUser.address.zip}}" data-ng-model="updateObject.zip">
        </div>
        <div class="form-group">
            <label>Phone Number</label>
            <input type="tel" class="form-control" name="phone" value="{{currentUser.phone}}" data-ng-model="updateObject.phone">
        </div>
        <div class="form-group">
            <label>Bio</label>
            <textarea name="bio" class="form-control" rows="6" value="{{currentUser.bio}}" data-ng-model="updateObject.bio"></textarea>
        </div>

        <div style="border:2px solid green;padding:10px;margin:20px;color:green;" data-ng-show="updateSuccess">Successfully Updated Settings!</div>
        <div style="border:2px solid red;padding:10px;margin:20px;color:red;" data-ng-show="updateFailure">Failure While Updating Settings!</div>

        <button type="button" class="btn btn-primary btn-lg" data-ng-click="updateChurch()">Update Settings</button>
    </form>

    <hr/>
    <!--Manage Services-->

    <br/>
    <table border>
        <th>Services</th>
        <tr data-ng-repeat="service in currentUser.services track by $index">
            <td>{{ service.day }}</td>
            <td>{{ service.startTime }}</td>
            <td><a href="" data-ng-click="removeChurchService($index)"><span class="glyphicon glyphicon-remove-circle"></span></a></td>
        </tr>
    </table>
    <form>
        <div class="form-group">
            <label>Day</label>
            <select class="form-control" data-ng-model="serviceObject.day">
                <option>Sunday</option>
                <option>Monday</option>
                <option>Tuesday</option>
                <option>Wednesday</option>
                <option>Thursday</option>
                <option>Friday</option>
                <option>Saturday</option>
            </select>
        </div>
        <div class="form-group">
            <label>Start Time</label>
            <input type="text" class="form-control" data-ng-model="serviceObject.startTime">
        </div>
        <button type="button" class="btn btn-primary btn-sm" data-ng-click="updateChurchServices()">Update Services</button>
    </form>

    <!--Reset Password Form-->
    <hr />
    <h2>Reset Password</h2>
    <form data-ng-submit="resetPassword()">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" value="{{currentUser.email}}">
        </div>
        <div style="border:2px solid red;padding:10px;margin:20px;color:red;" data-ng-show="passwordMatchError">Passwords don't match.</div>
        <div class="form-group">
            <label>New Password</label>
            <input type="password" class="form-control" data-ng-model="newPassword">
        </div>
        <div class="form-group">
            <label>Retype New Password</label>
            <input type="password" class="form-control" data-ng-model="newPasswordRetyped">
        </div>
        <button type="button" class="btn btn-danger btn-sm" data-ng-show="!resetConfirmationMessage" data-ng-click="resetConfirmationMessage = true">Reset Password</button>
        <div style="border:2px solid red;padding:10px;margin:5px;color:red;" data-ng-show="resetConfirmationMessage">
            Are you sure you want to reset your password?
            You will be redirect to the login page and will be required to log back in with new password.
            <br/>
            <a href="/logout" class="btn btn-success btn-sm" data-ng-click="resetPassword()" data-ng-click="resetConfirmationMessage = false"> Yes</a>
            <button type="button" class="btn btn-danger btn-sm" data-ng-click="resetConfirmationMessage = false">No</button>
        </div>
        <div style="border:2px solid green;padding:10px;margin:20px;color:green;" data-ng-show="resetSuccess">Successfully Reset Password</div>
    </form>

    <br/>

    <!--Delete Account-->
    <h2>Delete Account</h2>
    <p>If you delete your account all personal church information will be deleted.
        Also all members will be kicked off of the social media immediately.</p>
    <br />

    <button type="button" class="btn btn-danger btn-lg" data-ng-click="deletionConfirmationMessage = true">Delete Account</button>

    <div style="border:2px solid red;padding:10px;margin:5px;color:red;" data-ng-show="deletionConfirmationMessage">
        Are you sure you want to delete your account and lose all your data
        and kick all your church members off the social network?
        <br/>
        <a href="#" class="btn btn-success btn-sm" data-ng-click="deleteAccount()"> Yes</a>
        <button type="button" class="btn btn-danger btn-sm" data-ng-click="deletionConfirmationMessage = false">No</button>
    </div>

</div>