<!-- Created by John Pagley on 3/29/14 -->

<!--sermons container-->
<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 border2">
    <!--members top criteria-->
    <div class="col-lg-12 col-md-12 border1">
        <!--members total count-->
        <div class="col-lg-2 col-md-2 border1">Total: 300</div>
        <!--members search bar-->
        <div class="col-lg-10 col-md-10 border1">
            <div class="input-group">
                <input type="search" class="form-control" /><!--members search bar field-->
                <span class="input-group-addon"><a href="#"><span class="glyphicon glyphicon-search"></span></a></span><!--members search bar icon-->
            </div>
        </div>
    </div>
    <!--members list-->
    <div class="col-lg-12 col-md-12 border1">
        <!--members list single person-->
        <div class="col-lg-12 col-md-12 border1">
            <!--members person photo-->
            <div class="col-lg-1 col-md-1 border2">
                <img class="col-lg-12 col-md-12" src="./images/user.jpg" />
            </div>
            <!--members personal info-->
            <div class="col-lg-11 col-md-11 border2">
                <div class="col-lg-12 col-md-12 border1">
                    <div class="col-lg-10 col-md-10 border1"><h3>John Doe</h3></div><!--members personal name-->
                    <div class="col-lg-2 col-md-2 border1"><a href="" class="btn btn-grey pull-right"><span class="glyphicon glyphicon-send"></span> Message</a></div><!--members message person button-->
                </div>
                <div class="col-lg-12 col-md-12 border1">
                    <div class="col-lg-12 col-md-12 border1">Email:  <span class="color-aaa">john@email.com</span></div><!--members personal email-->
                    <div class="col-lg-12 col-md-12 border1">Phone: <span class="color-aaa">352-333-3333</span></div><!--members personal phone-->
                    <div class="col-lg-12 col-md-12 border1">Address: <span class="color-aaa">6312 SE 10th PL, Ocala, FL</span></div><!--members personal address-->
                </div>
            </div>
        </div>
        <!--members list single person-->
        <div class="col-lg-12 col-md-12 border1">
            <!--members person photo-->
            <div class="col-lg-1 col-md-1 border2">
                <img class="col-lg-12 col-md-12" src="./images/user.jpg" />
            </div>
            <!--members personal info-->
            <div class="col-lg-11 col-md-11 border2">
                <div class="col-lg-12 col-md-12 border1">
                    <div class="col-lg-10 col-md-10 border1"><h3>John Doe</h3></div><!--members personal name-->
                    <div class="col-lg-2 col-md-2 border1"><a href="" class="btn btn-grey pull-right"><span class="glyphicon glyphicon-send"></span> Message</a></div><!--members message person button-->
                </div>
                <div class="col-lg-12 col-md-12 border1">
                    <div class="col-lg-12 col-md-12 border1">Email:  <span class="color-aaa">john@email.com</span></div><!--members personal email-->
                    <div class="col-lg-12 col-md-12 border1">Phone: <span class="color-aaa">352-333-3333</span></div><!--members personal phone-->
                    <div class="col-lg-12 col-md-12 border1">Address: <span class="color-aaa">6312 SE 10th PL, Ocala, FL</span></div><!--members personal address-->
                </div>
            </div>
        </div>
    </div>

</div>