<!-- Created by John Pagley on 4/14/14 -->

<!--member profile container-->
<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 border2">
    <!--member profile details-->
    <div class="col-lg-12 col-md-12 border1">
        <!--member profile photo-->
        <div class="col-lg-1 col-md-1 border2">
            <img class="col-lg-12 col-md-12" src="./images/user.jpg" />
        </div>
        <!--member profile personal info-->
        <div class="col-lg-11 col-md-11 border2">
            <div class="col-lg-12 col-md-12 border1"><h3>John Doe</h3></div><!--member profile personal name-->
            <div class="col-lg-12 col-md-12 border1">
                <div class="col-lg-12 col-md-12 border1">Email:  <span class="color-aaa">john@email.com</span></div><!--member profile personal email-->
                <div class="col-lg-12 col-md-12 border1">Phone: <span class="color-aaa">352-333-3333</span></div><!--member profile personal phone-->
                <div class="col-lg-12 col-md-12 border1">Address: <span class="color-aaa">6312 SE 10th PL, Ocala, FL</span></div><!--member profile personal address-->
                <div class="col-lg-12 col-md-12 border1">Birthday: <span class="color-aaa">3/23/1993</span></div><!--member profile personal birthday-->
                <div class="col-lg-12 col-md-12 border1">Gender: <span class="color-aaa">Male</span></div><!--member profile personal gender-->
                <div class="col-lg-12 col-md-12 border1">Relationship: <span class="color-aaa">Single</span></div><!--member profile personal relationship-->
            </div>
        </div>
    </div>
    <!--member profile message feed-->
    <div class="col-lg-12 col-md-12 border1">
        <div class="col-lg-12 col-md-12 border1">
            <textarea class="col-lg-12 col-md-12" rows="5" placeholder="Write something..."></textarea><!--member profile message text-->
        </div>
        <!--member profile message send button-->
        <div class="col-lg-12 col-md-12 border1">
            <button class="btn btn-md btn-purple pull-right" type="submit">Send</button>
        </div>
    </div>

</div>