<!-- Created by John Pagley on 5/9/14 -->

<!--messages container-->
<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
    <!--messages search-->
    <div class="col-lg-12 col-md-12 form-group">
        <div class="col-lg-3 col-md-3">
            <div class="input-group">
                <input type="search" class="form-control" /><!--messages search bar field-->
                <span class="input-group-addon"><a href="#"><span class="glyphicon glyphicon-search"></span></a></span><!--messages search bar icon-->
            </div>
        </div>
        <div class="col-lg-3 col-lg-offset-6 col-md-3 col-md-offset-6">
            <a href="" class="text text-danger pull-right padding-15-0-0-0">Delete Conversation <span class="glyphicon glyphicon-trash"></span></a><!--messages delete conversation-->
        </div>
    </div>
    <div class="col-lg-12 col-md-12">
        <!--group messages-->
        <div class="col-lg-3 col-md-3 group-messages border-ddd-top border-ddd-right border-ddd-bottom border-ddd-left">
            <!--messages single group message-->
            <div class="media single-message">
                <div class="pull-left">
                    <img class="media-object img-rounded person-photo" src="./images/user.jpg" /><!--group message person photo-->
                </div>
                <div class="media-body single-message-body">
                    <div class="clearfix">
                        <div><h5 class="media-heading person-name">John Pagley</h5></div><!--group message person name-->
                        <div><p class="message-date">Apr 24</p></div><!--group message message date-->
                    </div>
                    <div class="person-message">Thanks for your help today</div><!--group message partial message-->
                </div>
            </div>
            <!--messages single group message-->
            <div class="media single-message">
                <div class="pull-left">
                    <img class="media-object img-rounded person-photo" src="./images/user.jpg" /><!--group message person photo-->
                </div>
                <div class="media-body single-message-body">
                    <div class="clearfix">
                        <div><h5 class="media-heading person-name">John Pagley</h5></div><!--group message person name-->
                        <div><p class="message-date">Apr 24</p></div><!--group message message date-->
                    </div>
                    <div class="person-message">Thanks for your help today</div><!--group message partial message-->
                </div>
            </div>
            <!--messages single group message-->
            <div class="media single-message">
                <div class="pull-left">
                    <img class="media-object img-rounded person-photo" src="./images/user.jpg" /><!--group message person photo-->
                </div>
                <div class="media-body single-message-body">
                    <div class="clearfix">
                        <div><h5 class="media-heading person-name">John Pagley</h5></div><!--group message person name-->
                        <div><p class="message-date">Apr 24</p></div><!--group message message date-->
                    </div>
                    <div class="person-message">Thanks for your help today</div><!--group message partial message-->
                </div>
            </div>
        </div>
        <!--messages live conversation-->
        <div class="col-lg-9 col-md-9 live-conversation border-ddd-top border-ddd-right border-ddd-bottom">

            <!--conversation live members-->
            <div class="col-lg-12 col-mg-12 live-conversation-members">
                <span class="conversation-head">Members:</span>
                <span class="conversation-member">John Pagley,</span>
                <span class="conversation-member">Joe Right,</span>
                <span class="conversation-member">Sarah Keck,</span>
                <span class="conversation-member">Billy Bob</span>
            </div>

            <!--conversation live messages area-->
            <div class="col-lg-12 col-mg-12 live-conversation-messages">
                <!--conversation single message-->
                <div class="media single-conversation-message">
                    <div class="pull-left">
                        <img class="media-object img-rounded person-photo" src="./images/user.jpg" /><!--conversation person photo-->
                    </div>
                    <div class="media-body single-conversation-body">
                        <div class="clearfix">
                            <div><h5 class="media-heading person-name">John Pagley</h5></div><!--conversation person name-->
                            <div>
                                <button class="close message-remove">&times;</button><!--conversation message remove x-->
                                <span class="message-date">Apr 24</span><!--conversation message date-->
                            </div>
                        </div>
                        <div class="person-message">Thanks for your help today</div><!--conversation message-->
                    </div>
                </div>
            </div>
            <!--write message-->
            <div class="col-lg-12 col-md-12 well well-sm write-message">
                <div class="col-lg-12 col-md-12 form-group">
                    <textarea class="form-control" id="writeMessage" name="writeMessage" rows="2" cols="100%" placeholder="Write something..."></textarea><!--write message textarea-->
                </div>
                <div class="col-lg-12 col-md-12">
                    <a href="" class="btn btn-purple pull-right">Reply</a><!--write message reply button-->
                </div>
            </div>
        </div>
    </div>
</div>