<!-- Created by John Pagley on 5/9/14 -->

<!--messages container-->
<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
    <!--retrieve messages failure error-->
    <div class="zion-connect-failure-message" data-ng-show="retrieveMessagesFailure">
        <span><span class="glyphicon glyphicon-asterisk"></span> <strong>NOT ABLE TO RETRIEVE MESSAGES. PLEASE TRY AGAIN LATER.</strong></span><!--update failed error paragraph-->
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><!--update failed error x icon-->
    </div>
    <!--conversation deletion successful-->
    <div class="zion-connect-success-message" data-ng-show="deleteConversationSuccessMessage">
        <span><span class="glyphicon glyphicon-ok"></span> <strong>CONVERSATION DELETED.</strong></span><!--update successful paragraph-->
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><!--update successful x icon-->
    </div>
    <!--delete conversation failed error-->
    <div class="zion-connect-failure-message" data-ng-show="deleteConversationFailureMessage">
        <span><span class="glyphicon glyphicon-asterisk"></span> <strong>NOT ABLE TO DELETE CONVERSATION. PLEASE TRY AGAIN LATER.</strong></span><!--update failed error paragraph-->
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><!--update failed error x icon-->
    </div>
    <!--message sent failure error-->
    <div class="zion-connect-failure-message" data-ng-show="messageSentFailure">
        <span><span class="glyphicon glyphicon-asterisk"></span> <strong>MESSAGE DID NOT SEND. PLEASE TRY AGAIN LATER.</strong></span><!--update failed error paragraph-->
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><!--update failed error x icon-->
    </div>
    <!--Delete conversation confirmation popup-->
    <div class="panel panel-default zion-connect-popup" ng-show="deleteConversationConfirmationMessage">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-trash"></span> Delete Conversation</h3>
        </div>
        <div class="panel-body">
            <p>Are you sure you want to delete this conversation?</p>
            <br/>
            <a href="" class="btn btn-success btn-sm" data-ng-click="deleteConversation()">Yes</a>
            <button type="button" class="btn btn-danger btn-sm" data-ng-click="deleteConversationConfirmationMessage = false">No</button>
        </div>
    </div>
    <!--messages search-->
    <div class="col-lg-12 col-md-12 form-group">
        <div class="col-lg-3 col-md-3">
            <div class="input-group">
                <input type="search" class="form-control" /><!--messages search bar field-->
                <span class="input-group-addon"><a href="#"><span class="glyphicon glyphicon-search"></span></a></span><!--messages search bar icon-->
            </div>
        </div>
        <div class="col-lg-3 col-lg-offset-6 col-md-3 col-md-offset-6">
            <a href="" class="text text-danger pull-right padding-15-0-0-0" ng-show="selectedConversation != null" ng-click="deleteConversationConfirmationMessage = true">Delete Conversation <span class="glyphicon glyphicon-trash"></span></a><!--messages delete conversation-->
        </div>
    </div>
    <div class="col-lg-12 col-md-12">
        <!--group messages-->
        <div class="col-lg-3 col-md-3 group-messages border-ddd-top border-ddd-right border-ddd-bottom border-ddd-left">
            <!--messages single group message-->
            <div class="media single-message" ng-repeat="conversation in conversations" ng-click="displayConversation($index)">
                <div class="pull-left">
                    <img class="media-object img-rounded person-photo" src="./images/user.jpg" /><!--group message person photo-->
                </div>
                <div class="media-body single-message-body">
                    <div class="clearfix">
                        <div><h5 class="media-heading person-name">{{conversation.memberObjects[0].name}}</h5></div><!--group message person name-->
                        <div><p class="message-date">{{conversation.messages[conversation.messages.length - 1].ts | date:'MMM d'}}</p></div><!--group message message date-->
                    </div>
                    <div class="person-message">{{conversation.messages[conversation.messages.length - 1].msg}}</div><!--group message partial message-->
                </div>
            </div>
            <!--messages single group message-->
            <!--<div class="media single-message">-->
                <!--<div class="pull-left">-->
                    <!--<img class="media-object img-rounded person-photo" src="./images/user.jpg" />&lt;!&ndash;group message person photo&ndash;&gt;-->
                <!--</div>-->
                <!--<div class="media-body single-message-body">-->
                    <!--<div class="clearfix">-->
                        <!--<div><h5 class="media-heading person-name">John Pagley</h5></div>&lt;!&ndash;group message person name&ndash;&gt;-->
                        <!--<div><p class="message-date">Apr 24</p></div>&lt;!&ndash;group message message date&ndash;&gt;-->
                    <!--</div>-->
                    <!--<div class="person-message">Thanks for your help today</div>&lt;!&ndash;group message partial message&ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
            <!--messages single group message-->
            <!--<div class="media single-message">-->
                <!--<div class="pull-left">-->
                    <!--<img class="media-object img-rounded person-photo" src="./images/user.jpg" />&lt;!&ndash;group message person photo&ndash;&gt;-->
                <!--</div>-->
                <!--<div class="media-body single-message-body">-->
                    <!--<div class="clearfix">-->
                        <!--<div><h5 class="media-heading person-name">John Pagley</h5></div>&lt;!&ndash;group message person name&ndash;&gt;-->
                        <!--<div><p class="message-date">Apr 24</p></div>&lt;!&ndash;group message message date&ndash;&gt;-->
                    <!--</div>-->
                    <!--<div class="person-message">Thanks for your help today</div>&lt;!&ndash;group message partial message&ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <!--messages live conversation-->
        <div class="col-lg-9 col-md-9 live-conversation border-ddd-top border-ddd-right border-ddd-bottom">

            <!--conversation live members-->
            <div class="col-lg-12 col-mg-12 live-conversation-members">
                <span class="conversation-head">Members:</span>
                <span class="conversation-member" ng-repeat="member in selectedConversation.memberObjects">{{member.name}},</span>
            </div>

            <!--conversation live messages area-->
            <div class="col-lg-12 col-mg-12 live-conversation-messages">
                <!--conversation single message-->
                <div class="media single-conversation-message" ng-repeat="message in selectedConversation.messages | orderBy:'ts':false">
                    <div class="pull-left">
                        <img class="media-object img-rounded person-photo" src="./images/user.jpg" /><!--conversation person photo-->
                    </div>
                    <div class="media-body single-conversation-body">
                        <div class="clearfix">
                            <div><h5 class="media-heading person-name">{{message.name}}</h5></div><!--conversation person name-->
                            <div>
                                <button class="close message-remove" ng-click="deleteMessage($index)">&times;</button><!--conversation message remove x-->
                                <span class="message-date">{{message.ts | date:"MMM d"}}</span><!--conversation message date-->
                            </div>
                        </div>
                        <div class="person-message">{{message.msg}}</div><!--conversation message-->
                    </div>
                </div>
                <!--conversation single message-->
                <!--<div class="media single-conversation-message">-->
                    <!--<div class="pull-left">-->
                        <!--<img class="media-object img-rounded person-photo" src="./images/user.jpg" /><!--conversation person photo-->
                    <!--</div>-->
                    <!--<div class="media-body single-conversation-body">-->
                        <!--<div class="clearfix">-->
                            <!--<div><h5 class="media-heading person-name">John Pagley</h5></div><!--conversation person name-->
                            <!--<div><p class="message-date">Apr 24</p></div><!--conversation message date-->
                        <!--</div>-->
                        <!--<div class="person-message">Thanks for your help today</div><!--conversation message-->
                    <!--</div>-->
                <!--</div>-->
                <!--conversation single message-->
                <!--<div class="media single-conversation-message">-->
                    <!--<div class="pull-left">-->
                        <!--<img class="media-object img-rounded person-photo" src="./images/user.jpg" /><!--conversation person photo-->
                    <!--</div>-->
                    <!--<div class="media-body single-conversation-body">-->
                        <!--<div class="clearfix">-->
                            <!--<div><h5 class="media-heading person-name">John Pagley</h5></div><!--conversation person name-->
                            <!--<div><p class="message-date">Apr 24</p></div><!--conversation message date-->
                        <!--</div>-->
                        <!--<div class="person-message">Thanks for your help today Thanks for your help today Thanks for your help today Thanks for your help today Thanks for your help today Thanks for your help today Thanks for your help today Thanks for your help today</div><!--conversation message-->
                    <!--</div>-->
                <!--</div>-->
                <!--conversation single message-->
                <!--<div class="media single-conversation-message">-->
                    <!--<div class="pull-left">-->
                        <!--<img class="media-object img-rounded person-photo" src="./images/user.jpg" /><!--conversation person photo-->
                    <!--</div>-->
                    <!--<div class="media-body single-conversation-body">-->
                        <!--<div class="clearfix">-->
                            <!--<div><h5 class="media-heading person-name">John Pagley</h5></div><!--conversation person name-->
                            <!--<div><p class="message-date">Apr 24</p></div><!--conversation message date-->
                        <!--</div>-->
                        <!--<div class="person-message">Thanks for your help today</div><!--conversation message-->
                    <!--</div>-->
                <!--</div>-->
            </div>
            <!--write message-->
            <div class="col-lg-12 col-md-12 well well-sm write-message">
                <div class="col-lg-12 col-md-12 form-group">
                    <textarea class="form-control" id="writeMessage" name="writeMessage" rows="2" cols="100%" placeholder="Write something..." ng-model="message"></textarea><!--write message textarea-->
                </div>
                <div class="col-lg-12 col-md-12">
                    <a href="" class="btn btn-purple pull-right" ng-click="sendMessage(message)">Reply</a><!--write message reply button-->
                </div>
            </div>
        </div>
    </div>
</div>