<!-- Created by John Pagley on 4/9/14 -->

<!--sermon edit container-->
<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 border1">
    <!--update successful-->
    <div class="alert alert-success alert-dismissable" data-ng-show="sermonCreatedSuccessfully">
        <span>Successfully created new sermon.</span><!--update successful paragraph-->
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><!--update successful x icon-->
    </div>
    <!--update failed error-->
    <div class="alert alert-danger alert-dismissable" data-ng-show="sermonCreationFailure">
        <span>Oops! We are having trouble adding your sermon. Please try again later.</span><!--update failed error paragraph-->
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><!--update failed error x icon-->
    </div>
    <div class="col-lg-12 col-md-12 border2">
        <div class="col-lg-1 col-md-1"><img class="col-lg-12 col-md-12" src="./images/meatowbrooklogo.jpg" /></div><!--sermon edit logo-->
        <!--sermon edit info-->
        <div class="col-lg-11 col-md-11 form-group">
            <div class="col-lg-12 col-md-12 border2">
                <!--sermon edit part-->
                <div class="col-lg-2 col-md-2 border2">
                    <div class="col-lg-6 col-md-6 control-label"><label for="sermonPart">Part</label></div>
                    <div class="col-lg-6 col-md-6">
                    <select class="form-control" id="sermonPart" name="sermonPart" title="{{sermon.part}}" data-ng-model="sermonObject.part">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                    </select>
                    </div>
                </div>
                <!--sermon edit title-->
                <div class="col-lg-10 col-md-10 border1">
                    <div class="col-lg-1 col-md-1 control-label"><label for="sermonTitle">Title</label></div>
                    <div class="col-lg-11 col-md-11">
                    <input type="text" class="form-control" id="sermonTitle" name="sermonTitle" ng-model="sermonObject.title"/>
                    </div>
                </div>
            </div>
            <!--sermon edit series-->
            <div class="col-lg-12 col-md-12 border2">
                <div class="col-lg-1 col-md-1 control-label"><label for="sermonSeries">Series</label></div>
                <div class="col-lg-11 col-md-11">
                    <input type="text" class="form-control" id="sermonSeries" name="sermonSeries" data-ng-model="sermonObject.series"/>
                </div>
            </div>
            <!--sermon edit speaker-->
            <div class="col-lg-12 col-md-12 border2">
                <div class="col-lg-1 col-md-1 control-label"><label for="sermonSpeaker">Speaker</label></div>
                <div class="col-lg-11 col-md-11">
                    <input type="text" class="form-control" id="sermonSpeaker" name="sermonSpeaker" data-ng-model="sermonObject.speaker"/>
                </div>
            </div>
        </div>
        <!--sermon edit upload info-->
        <div class="col-lg-12 col-md-12 form-group border1">
            <!--sermon edit upload video-->
            <div class="col-lg-12 col-md-12 border2">
                <div class="col-lg-9 col-md-9"><input type="text" class="form-control" id="sermonVideo" name="sermonVideo" data-ng-model="sermonObject.video"/></div>
                <div class="col-lg-3 col-md-3"><button type="button" class="btn btn-md btn-purple">Upload Video</button></div>
            </div>
            <!--sermon edit upload video player-->
            <div class="col-lg-12 col-md-12 border2">
                <video controls>
                    <source src="movie.mp4" type="video/mp4">
                    <source src="movie.ogg" type="video/ogg">
                    Your browser does not support this video player.
                </video>
            </div>
            <!--sermon edit upload audio-->
            <div class="col-lg-12 col-md-12 border2">
                <div class="col-lg-9 col-md-9"><input type="text" class="form-control" id="sermonAudio" name="sermonAudio" data-ng-model="sermonObject.audio"/></div>
                <div class="col-lg-3 col-md-3"><button type="button" class="btn btn-md btn-purple">Upload Audio</button></div>
            </div>
            <!--sermon edit upload audio player-->
            <div class="col-lg-12 col-md-12 border2">
                <audio controls>
                    <source src="horse.ogg" type="audio/ogg">
                    <source src="horse.mp3" type="audio/mpeg">
                    Your browser does not support this audio player.
                </audio>
            </div>
            <!--sermon edit message notes-->
            <div class="col-lg-12 col-md-12 border2">
                <div class="col-lg-12 col-md-12"><label for="sermonMessageNotes">Message Notes</label></div>
                <div class="col-lg-12 col-md-12"><textarea class="form-control" id="sermonMessageNotes" name="sermonMessageNotes" rows="13" cols="100%" data-ng-model="sermonObject.notes"></textarea></div>
                <div class="col-lg-12 col-md-12"><button type="button" class="btn btn-md btn-purple pull-right" ng-click="createSermon()">Create</button></div>
            </div>

        </div>
    </div>

</div>
