<!--created by John Pagley on 3/27/14-->

<!--sermonhome container-->
<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 border2">

    <!--sermonhome list single sermon-->
    <div class="col-lg-12 col-md-12 border1">
        <!--sermonhome series logo-->
        <div class="col-lg-1 col-md-1 border2">
            <img class="col-lg-12 col-md-12" src="./images/meatowbrooklogo.jpg" />
        </div>
        <!--sermonhome series name-->
        <div class="col-lg-10 col-md-10 border2">
            <div class="col-lg-12 col-md-12 border1">
                <div class="col-lg-1 col-md-1 border1"><h3>{{sermon.part}}</h3></div><!--sermonhome series count-->
                <div class="col-lg-11 col-md-11 border1"><h3>{{sermon.title}}</h3></div><!--sermonhome series sermon name-->
            </div>
            <div class="col-lg-12 col-md-12 border1">
                <div class="col-lg-12 col-md-12 border1">Series: <span class="color-aaa">{{sermon.series}}</span></div><!--sermonhome series name-->
                <div class="col-lg-12 col-md-12 border1">Speaker: <span class="color-aaa">{{sermon.speaker}}</span></div><!--sermonhome series speaker-->
            </div>
        </div>
        <!--sermonhome series action section-->
        <div class="col-lg-1 col-md-1 border1">
            <!--sermonhome series edit button-->
            <div class="col-lg-12 col-md-12 border2"><a href="#/sermon/edit/{{sermon._id}}" class="btn btn-grey pull-right"><span class="glyphicon glyphicon-pencil"></span> Edit</a></div>
        </div>
    </div>

    <!--sermonhome news feed post-->
    <div class="col-lg-12 col-md-12 portal-news-feed-post border1">
        <!--sermonhome post text box-->
        <div class="col-lg-12 col-md-12 border1">
            <textarea class="col-lg-12 col-md-12" rows="5" placeholder="Write something..." ng-model="newCommentObj.body"></textarea><!--sermonhome post text-->
        </div>
        <!--sermonhome post button-->
        <div class="col-lg-12 col-md-12 border1"><a class="btn btn-purple pull-right" ng-click="createComment(sermon._id)">Post</a></div>
    </div>

    <!--sermonhome news feed posting-->
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 portal-news-feed-posting border1" ng-repeat="comment in sermon.comments">
        <!--sermonhome posting from church-->
        <div class="col-lg-12 col-md-12 border1">
            <!--sermonhome church info-->
            <div class="col-lg-12 col-md-12 border1">
                <div class="col-lg-1 col-md-1 border1"><img class="col-lg-12 col-md-12" src="./images/meatowbrooklogo.jpg"/></div><!--sermonhome church posting image-->
                <div class="col-lg-11 col-md-11 border1">
                    <h4>{{comment.author_name}}</h4><!--sermonhome church name-->
                    <h6>{{comment.createdAt | date:short}}</h6><!--sermonhome church posting date-->
                </div>
            </div>
            <!--sermonhome posting text box-->
            <div class="col-lg-12 col-md-12 border1">
                <div class="col-lg-12 col-md-12 border1"><p>{{comment.body}}</p></div><!--sermonhome posting text-->
            </div>
            <!--sermonhome posting interactions-->
            <div class="col-lg-12 col-md-12 border1">
                <div class="col=lg-12 col-md-12 border1">{{comment.likes.length}}</div><!--sermonhome posting likes total-->
                <!--sermonhome posting interaction links-->
                <div class="col=lg-12 col-md-12 border1">
                    <ul class="list-inline">
                        <li><a href="" class="post-link" ng-click="likeComment(sermon._id, comment._id, $index)">Like</a></li><!--like link-->
                        <li><a href="" class="post-link">Dislike</a></li><!--dislike link-->
                        <li><a href="" class="post-link">Comment</a></li><!--comment link-->
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>