<!-- Created by John Pagley on 4/9/14 -->
<h1 class="zion-connect-page-header">Create Sermon</h1>

<!--sermon edit container-->
<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
    <!--update successful-->
    <div class="alert alert-success alert-dismissable" data-ng-show="sermonCreatedSuccessfully">
        <span>Successfully created new sermon.</span><!--update successful paragraph-->
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><!--update successful x icon-->
    </div>
    <!--update failed error-->
    <div class="alert alert-danger alert-dismissable" data-ng-show="sermonCreationFailure">
        <span>Oops! We are having trouble adding your sermon. Please try again later.</span><!--update failed error paragraph-->
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><!--update failed error x icon-->
    </div>

    <div class="col-lg-12 col-md-12 sermon-add-edit">
        <form>
            <div class="col-lg-8 col-md-8">
                <!--step 1-->
                <div class="col-lg-12 col-md-12 sermon-info-area">
                    <h2>Step 1 <small>Sermon Series</small></h2>
                    <div class="form-group">
                        <!--step 1 select series-->
                        <div ng-show="!sermonObject.newSeries.name">
                            <div class="col-lg-12 col-md-12"><label class="control-label" for="sermonSeries">Series</label></div>
                            <div class="col-lg-6 col-md-6">
                                <!--step 1 select series dropdown-->
                                <select class="form-control" name="sermonSeries" id="sermonSeries" ng-model="sermonObject.series">
                                    <option ng-repeat="series in seriesList">{{series.name}}</option>
                                </select>
                            </div>
                            <div class="col-lg-3 col-md-3 right-button">
                                <!--step 1 select series new button-->
                                <a href="" class="btn btn-grey btn-block" ng-click="createSeriesPopup = true; sermonObject.series = '';"><span class="glyphicon glyphicon-plus"></span> New Series</a>
                            </div>
                        </div>
                        <div ng-show="sermonObject.newSeries.name">
                            <div class="col-lg-12 col-md-12"><label class="control-label" for="sermonSeries">New Series Name</label></div>
                            <div class="col-lg-6 col-md-6">
                                <!--step 1 display new series name-->
                                <p class="form-control">{{sermonObject.newSeries.name}}</p>
                            </div>
                            <div class="col-lg-2 col-md-2 right-button">
                                <!--step 1 edit new series button-->
                                <a href="" class="btn btn-grey btn-block" ng-click="createSeriesPopup = true"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                            </div>
                            <div class="col-lg-4 col-md-4 right-button">
                                <!--step 1 remove new series button-->
                                <a href="" class="btn btn-grey btn-block" ng-click="sermonObject.newSeries.name = '';"><span class="glyphicon glyphicon-trash"></span> Remove Series</a>
                            </div>
                        </div>
                        <!--step 1 new series popup-->
                        <div id="createSeriesPopup" class="panel panel-default zion-connect-create-series-popup" ng-show="createSeriesPopup">
                            <div class="panel-heading">
                                <h3 class="panel-title">Create New Series
                                    <div class="col-lg-1 col-md-1 pull-right">
                                        <button class="close" data-ng-click="createSeriesPopup = false; sermonObject.newSeries = ''; seriesNameAlreadyExistsError = false;">&times;</button><!--Create series x icon-->
                                    </div>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <!--update failed error-->
                                <div class="alert alert-danger alert-dismissable" data-ng-show="seriesNameAlreadyExistsError">
                                    <button type="button" class="close" ng-click="seriesNameAlreadyExistsError = false;">&times;</button><!--update failed error x icon-->
                                    <span>That series name already exists. Please use a different name or add sermon to existing series.</span><!--update failed error paragraph-->
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="seriesName">Name</label>
                                    <input id="seriesName" type="text" class="form-control" name="seriesName" ng-model="sermonObject.newSeries.name"/>
                                </div>
                                <br/>
                                <button type="button" class="btn btn-purple btn-sm" data-ng-click="validateNewSeriesNameIsUnique(sermonObject.newSeries.name)">Create</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--step 2-->
                <div class="col-lg-12 col-md-12 sermon-info-area">
                    <h2>Step 2 <small>Sermon Info</small></h2>
                    <!--step 2 sermon title-->
                    <div class="form-group">
                        <label class="control-label" for="sermonTitle">Title</label>
                        <input type="text" class="form-control" id="sermonTitle" name="sermonTitle" ng-model="sermonObject.title"/>
                    </div>
                    <!--step 2 sermon speaker-->
                    <div class="form-group">
                        <label class="control-label" for="sermonSpeaker">Speaker</label>
                        <input type="text" class="form-control" id="sermonSpeaker" name="sermonSpeaker" data-ng-model="sermonObject.speaker"/>
                    </div>
                    <!--step 2 sermon part dropdown-->
                    <div class="form-group">
                        <label class="control-label" for="sermonPart">Part</label>
                        <select class="form-control" id="sermonPart" name="sermonPart" data-ng-model="sermonObject.part">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                            <option>15</option>
                            <option>16</option>
                            <option>17</option>
                            <option>18</option>
                            <option>19</option>
                            <option>20</option>
                            <option>21</option>
                            <option>22</option>
                            <option>23</option>
                            <option>24</option>
                            <option>25</option>
                            <option>26</option>
                            <option>27</option>
                            <option>28</option>
                            <option>29</option>
                            <option>30</option>
                            <option>31</option>
                            <option>32</option>
                            <option>33</option>
                            <option>34</option>
                            <option>35</option>
                            <option>36</option>
                            <option>37</option>
                            <option>38</option>
                            <option>39</option>
                            <option>40</option>
                            <option>41</option>
                            <option>42</option>
                            <option>43</option>
                            <option>44</option>
                            <option>45</option>
                            <option>46</option>
                            <option>47</option>
                            <option>48</option>
                            <option>49</option>
                            <option>50</option>
                        </select>
                    </div>
                    <!--step 2 sermon tags-->
                    <div class="form-group">
                        <label class="control-label" for="sermonTags">Tags</label>
                        <input type="text" class="form-control" id="sermonTags" name="sermonTags" data-ng-model="sermonObject.tags"/>
                        <p class="text-muted font-11">Separate each tag with a comma (grave, risen, easter)</p>
                    </div>
                </div>
                <!--step 3-->
                <div class="col-lg-12 col-md-12 sermon-info-area">
                    <h2>Step 3 <small>Sermon Content</small></h2>
                    <!--step 3 sermon audio-->
                    <div class="form-group">
                        <div class="col-lg-5 col-md-5">
                            <input type="text" class="form-control" name="sermonAudio" id="sermonAudio" name="sermonAudio" data-ng-model="sermonObject.audio"/>
                        </div>
                        <div class="col-lg-3 col-md-3 right-button"><a href="" class="btn btn-grey btn-block">Upload Audio</a></div>
                    </div>
                    <!--step 3 sermon video-->
                    <div class="form-group">
                        <div class="col-lg-5 col-md-5">
                            <input type="text" class="form-control" name="sermonVideo" id="sermonVideo" data-ng-model="sermonObject.video"/>
                        </div>
                        <div class="col-lg-3 col-md-3 right-button"><a href="" class="btn btn-grey btn-block">Upload Video</a></div>
                    </div>
                    <!--step 3 sermon message notes-->
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12">
                            <label class="control-label" for="messageNotes">Message Notes</label>
                            <textarea class="form-control" name="messageNotes" rows="20" cols="100%" data-ng-model="sermonObject.notes"></textarea>
                        </div>
                    </div>
                    <!--step 3 sermon create button-->
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12"><a href="" class="btn btn-md btn-purple pull-right" ng-click="createSermon(sermonObject)">Create</a></div>
                    </div>

                </div>
            </div>

        </form>

    </div>















    <!--<div class="col-lg-12 col-md-12 sermon-edit">-->
        <!--<div class="col-lg-1 col-md-1"><img class="col-lg-12 col-md-12 img-responsive img-rounded" src="./images/meatowbrooklogo.jpg" /></div><!--sermon edit logo-->
        <!--<!--sermon edit info-->
        <!--<div class="col-lg-11 col-md-11">-->
            <!--<div class="col-lg-12 col-md-12">-->
                <!--<!--sermon edit part number-->
                <!--<div class="col-lg-2 col-md-2 form-group">-->
                    <!--<div class="col-lg-6 col-md-6 sermon-edit-label text-right">-->
                        <!--<label class="control-label" for="sermonPart">Part</label>-->
                    <!--</div>-->
                    <!--<div class="col-lg-6 col-md-6 sermon-edit-field">-->
                        <!--<input type="text" class="form-control" id="sermonPart" name="sermonPart" title="{{sermon.part}}" data-ng-model="sermonObject.part"/><!--sermon edit part number field-->
                    <!--</div>-->
                <!--</div>-->
                <!--<!--sermon edit title-->
                <!--<div class="col-lg-10 col-md-10 form-group">-->
                    <!--<div class="col-lg-1 col-md-1 sermon-edit-label text-right">-->
                        <!--<label class="control-label" for="sermonTitle">Title</label>-->
                    <!--</div>-->
                    <!--<div class="col-lg-11 col-md-11">-->
                        <!--<input type="text" class="form-control" id="sermonTitle" name="sermonTitle" ng-model="sermonObject.title"/><!--sermon edit title field -->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<!--sermon edit series-->
            <!--<div class="col-lg-12 col-md-12 form-group">-->
                <!--<div class="col-lg-1 col-md-1 sermon-edit-label text-right">-->
                    <!--<label class="control-label" for="sermonSeries">Series</label>-->
                <!--</div>-->
                <!--<div class="col-lg-11 col-md-11">-->
                    <!--<input type="text" class="form-control" id="sermonSeries" name="sermonSeries" data-ng-model="sermonObject.series"/><!--sermon edit series field-->
                <!--</div>-->
            <!--</div>-->
            <!--<!--sermon edit speaker-->
            <!--<div class="col-lg-12 col-md-12 form-group">-->
                <!--<div class="col-lg-1 col-md-1 sermon-edit-label text-right">-->
                    <!--<label class="control-label" for="sermonSpeaker">Speaker</label>-->
                <!--</div>-->
                <!--<div class="col-lg-11 col-md-11">-->
                    <!--<input type="text" class="form-control" id="sermonSpeaker" name="sermonSpeaker" data-ng-model="sermonObject.speaker"/><!--sermon edit speaker field-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<!--sermon edit upload video-->
        <!--<div class="col-lg-6 col-md-6 form-group padding-0-5-0-0">-->
            <!--<div class="col-lg-12 col-md-12 form-group">-->
                <!--<div class="col-lg-9 col-md-9">-->
                    <!--<input type="text" class="form-control" id="sermonVideo" name="sermonVideo" data-ng-model="sermonObject.video"/><!--sermon edit upload video field-->
                <!--</div>-->
                <!--<div class="col-lg-3 col-md-3 sermon-upload-button">-->
                    <!--<a href="" class="btn btn-grey btn-block">Upload Video</a><!--sermon edit upload video button-->
                <!--</div>-->
            <!--</div>-->
            <!--<!--sermon edit upload video player-->
            <!--<div class="col-lg-12 col-md-12">-->
                <!--<video controls class="col-lg-12 col-md-12">-->
                    <!--<source src="movie.mp4" type="video/mp4">-->
                    <!--<source src="movie.ogg" type="video/ogg">-->
                    <!--Your browser does not support this video player.-->
                <!--</video>-->
            <!--</div>-->
        <!--</div>-->
        <!--<!--sermon edit upload audio-->
        <!--<div class="col-lg-6 col-md-6 form-group padding-0-0-0-5">-->
            <!--<div class="col-lg-12 col-md-12 form-group">-->
                <!--<div class="col-lg-9 col-md-9">-->
                    <!--<input type="text" class="form-control" id="sermonAudio" name="sermonAudio" data-ng-model="sermonObject.audio"/><!--sermon edit upload audio field-->
                <!--</div>-->
                <!--<div class="col-lg-3 col-md-3 sermon-upload-button">-->
                    <!--<a href="" class="btn btn-grey btn-block">Upload Audio</a><!--sermon edit upload audio button-->
                <!--</div>-->
            <!--</div>-->
            <!--<!--sermon edit upload audio player-->
            <!--<div class="col-lg-12 col-md-12">-->
                <!--<audio controls class="col-lg-12 col-md-12">-->
                    <!--<source src="horse.ogg" type="audio/ogg">-->
                    <!--<source src="horse.mp3" type="audio/mpeg">-->
                    <!--Your browser does not support this audio player.-->
                <!--</audio>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-lg-12 col-md-12">-->
            <!--<!--sermon edit message notes-->
            <!--<div class="col-lg-12 col-md-12 form-group">-->
                <!--<label class="control-label" for="sermonMessageNotes">Message Notes</label>-->
                <!--<textarea class="form-control" id="sermonMessageNotes" name="sermonMessageNotes" rows="13" cols="100%" data-ng-model="sermonObject.notes"></textarea><!--sermon edit message text area-->
            <!--</div>-->
            <!--<!--sermon edit tags-->
            <!--<div class="col-lg-12 col-md-12 form-group">-->
                <!--<label class="control-label" for="sermonTags">Tags</label>-->
                <!--<input class="form-control" type="text" id="sermonTags" name="sermonTags" data-ng-model="sermonObject.tags"/><!--sermon edit tags area-->
                <!--<p class="text-muted font-11">Separate each tag with a comma (grave, risen, easter)</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-lg-12 col-md-12">-->
            <!--<a href="" class="btn btn-purple pull-right" ng-click="createSermon()">Create</a><!--sermon edit update button-->
        <!--</div>-->
    <!--</div>-->
</div>
