<!-- Created by John Pagley on 3/12/14.-->

<!--Custom Messages----------------------------------------------------------------------->
<div style="border:2px solid green;padding:10px;margin:20px;color:green;" data-ng-show="updateSuccess">Successfully Updated Settings!</div>
<div style="border:2px solid red;padding:10px;margin:20px;color:red;" data-ng-show="updateFailure">Failure While Updating Settings!</div>

<!--<button type="button" class="btn btn-danger btn-sm" data-ng-show="!resetConfirmationMessage" data-ng-click="resetConfirmationMessage = true">Reset Password</button>-->
<div style="border:2px solid red;padding:10px;margin:5px;color:red;" data-ng-show="resetConfirmationMessage">
    Are you sure you want to reset your password?
    You will be redirect to the login page and will be required to log back in with new password.
    <br/>
    <a href="" class="btn btn-success btn-sm" data-ng-click="resetPassword()" data-ng-click="resetConfirmationMessage = false"> Yes</a>
    <button type="button" class="btn btn-danger btn-sm" data-ng-click="resetConfirmationMessage = false">No</button>
</div>
<div style="border:2px solid green;padding:10px;margin:20px;color:green;" data-ng-show="resetSuccess">Successfully Reset Password</div>

<!--portal church settings---------------------------------------------------------------->
<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 portal-church-settings border2">
    <!--column 1-->
    <!--church info container-->
    <div class="col-lg-6 col-md-6 border1">
        <div class="panel panel-primary">
            <!--church info head-->
            <div class="panel-heading">
                <h3 class="panel-title">Church Info</h3>
            </div>
            <!--church info body-->
            <div class="panel-body">
                <!--church info form-->
                <div class="col-lg-12 col-md-12 form-group form-group-lg">
                    <!--church info name-->
                    <label for="churchName">Name</label>
                    <input type="text" class="form-control" id="churchName" name="churchName" value="{{currentUser.name}}" data-ng-model="updateObject.name" />
                    <!--church info address-->
                    <label for="churchAddress">Address</label>
                    <input type="text" class="form-control" id="churchAddress" name="churchAddress" value="{{currentUser.address.street}}" data-ng-model="updateObject.address" />
                    <!--church info city-->
                    <label for="churchCity">City</label>
                    <input type="text" class="form-control" id="churchCity" name="churchCity" value="{{currentUser.address.city}}" data-ng-model="updateObject.city" />
                    <!--church info state-->
                    <label for="churchState">State</label>
                    <select class="form-control" id="churchState" name="churchState" title="State" value="{{currentUser.address.state}}" data-ng-model="updateObject.state">
                        <option>AL</option>
                        <option>AK</option>
                        <option>AZ</option>
                        <option>AR</option>
                        <option>CA</option>
                        <option>CO</option>
                        <option>CT</option>
                        <option>DE</option>
                        <option>FL</option>
                        <option>GA</option>
                        <option>HI</option>
                        <option>ID</option>
                        <option>IL</option>
                        <option>IN</option>
                        <option>IA</option>
                        <option>KS</option>
                        <option>KY</option>
                        <option>LA</option>
                        <option>ME</option>
                        <option>MD</option>
                        <option>MA</option>
                        <option>MI</option>
                        <option>MN</option>
                        <option>MS</option>
                        <option>MO</option>
                        <option>MT</option>
                        <option>NE</option>
                        <option>NV</option>
                        <option>NH</option>
                        <option>NJ</option>
                        <option>NM</option>
                        <option>NY</option>
                        <option>NC</option>
                        <option>ND</option>
                        <option>OH</option>
                        <option>OK</option>
                        <option>OR</option>
                        <option>PA</option>
                        <option>RI</option>
                        <option>SC</option>
                        <option>SD</option>
                        <option>TN</option>
                        <option>TX</option>
                        <option>UT</option>
                        <option>VT</option>
                        <option>VA</option>
                        <option>WA</option>
                        <option>WV</option>
                        <option>WI</option>
                        <option>WY</option>
                    </select>
                    <!--church info zipcode-->
                    <label for="churchZipcode">Zipcode</label>
                    <input type="text" class="form-control" id="churchZipcode" name="churchZipcode" value="{{currentUser.address.zip}}" data-ng-model="updateObject.zip" />
                    <!--church info website-->
                    <label for="churchWebsite">Website</label>
                    <input type="text" class="form-control" id="churchWebsite" name="churchWebsite" value="{{currentUser.website}}" data-ng-model="updateObject.website"  />
                    <!--church info phone-->
                    <label for="churchPhoneNumber">Phone Number</label>
                    <input type="text" class="form-control" id="churchPhoneNumber" name="churchPhoneNumber" value="{{currentUser.phone}}" data-ng-model="updateObject.phone" />
                    <!--church info bio-->
                    <label for="churchBio">Bio</label>
                    <textarea class="form-control" id="churchBio" name="churchBio" rows="13" cols="100%" value="{{currentUser.bio}}" data-ng-model="updateObject.bio"></textarea>
                    <div class="col-lg-12 col-md-12 border1">
                        <div class="col-lg-6 col-md-6 border1"><span class="glyphicon glyphicon-info-sign"></span></div><!--church info icon-->
                        <div class="col-lg-6 col-md-6 border1"><button type="button" class="btn btn-md btn-purple pull-right" data-ng-click="updateChurch()">Update</button></div><!--church info update button-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--column 2-->
    <div class="col-lg-6 col-md-6 border1">
        <!--authentication container-->
        <div class="col-lg-12 col-md-12 border1">
            <div class="panel panel-primary">
                <!--authentication head-->
                <div class="panel-heading">
                    <h3 class="panel-title">Account Authentication</h3>
                </div>
                <!--authentication body-->
                <div class="panel-body">
                    <!--authentication form-->
                    <div class="form-group form-group-lg">
                        <!--authentication email-->
                        <label for="accountEmail">Email</label>
                        <input type="email" class="form-control" id="accountEmail" name="accountEmail" value="{{currentUser.email}}" />
                        <!--authentication current password-->
                        <label for="currentPassword">Current Password</label>
                        <input type="password" class="form-control" id="currentPassword" name="currentPassword" placeholder="Current Password" />
                        <!--authentication new password-->
                        <label for="newPassword">New Password</label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Password" data-ng-model="newPassword"/>
                        <!--authentication retype password-->
                        <label for="retypeNewPassword">Retype Password</label>
                        <input type="password" class="form-control" id="retypeNewPassword" name="retypeNewPassword" placeholder="Retype Password" data-ng-model="newPasswordRetyped"/>
                        <div class="col-lg-12 col-md-12 border1">
                            <div class="col-lg-6 col-md-6 border1"><span class="glyphicon glyphicon-info-sign"></span></div><!--authentication info icon-->
                            <div class="col-lg-6 col-md-6 border1"><button type="button" class="btn btn-md btn-purple pull-right" data-ng-show="!resetConfirmationMessage" data-ng-click="resetConfirmationMessage = true">Reset Password</button></div><!--authentication reset button-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--service time container-->
        <div class="col-lg-12 col-md-12 border1">
            <div class="panel panel-primary">
                <!--service time head-->
                <div class="panel-heading">
                    <h3 class="panel-title">Service Times</h3>
                </div>
                <!--service time body-->
                <div class="panel-body">
                    <!--service time form-->
                    <div class="form-group form-group-lg">
                        <div class="col-lg-12 col-md-12 border1">
                            <!--service time single-->
                            <div class="col-lg-12 col-md-12 border1">
                                <!--service time day-->
                                <div class="col-lg-6 col-md-6 border1">
                                    <select class="form-control" name="serviceDay" title="Sunday">
                                        <option>Sunday</option>
                                        <option>Monday</option>
                                        <option>Tuesday</option>
                                        <option>Wednesday</option>
                                        <option>Thursday</option>
                                        <option>Friday</option>
                                        <option>Saturday</option>
                                    </select><!--service time day select-->
                                </div>
                                <!--service time hour-->
                                <div class="col-lg-6 col-md-6 border1">
                                    <select class="form-control" name="serviceTime" title="12:00 am">
                                        <option>12:00 am</option>
                                        <option>1:00 am</option>
                                        <option>2:00 am</option>
                                        <option>3:00 am</option>
                                        <option>4:00 am</option>
                                        <option>5:00 am</option>
                                        <option>6:00 am</option>
                                        <option>7:00 am</option>
                                        <option>8:00 am</option>
                                        <option>9:00 am</option>
                                        <option>10:00 am</option>
                                        <option>11:00 am</option>
                                        <option>12:00 pm</option>
                                        <option>1:00 pm</option>
                                        <option>2:00 pm</option>
                                        <option>3:00 pm</option>
                                        <option>4:00 pm</option>
                                        <option>5:00 pm</option>
                                        <option>6:00 pm</option>
                                        <option>7:00 pm</option>
                                        <option>8:00 pm</option>
                                        <option>9:00 pm</option>
                                        <option>10:00 pm</option>
                                        <option>11:00 pm</option>
                                    </select><!--service time hour select-->
                                </div>
                                <div class="col-lg-12 col-md-12 border1"><a href="#"><span class="glyphicon glyphicon-plus"></span> Add another service time</a></div><!--add another service time link-->
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 border1">
                            <div class="col-lg-6 col-md-6 border1"><span class="glyphicon glyphicon-info-sign"></span></div><!--service time info icon-->
                            <div class="col-lg-6 col-md-6 border1"><button type="submit" class="btn btn-md btn-purple pull-right">Update</button></div><!--service time button-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>