<!--portal church settings---------------------------------------------------------------->
<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 border2">
    <!--full church form container-->
    <div class="col-lg-12 col-md-12 border1">
        <!--church form update errors-->
        <div class="col-lg-12 col-md-12 border1">
            <!--reset password confirmation popup-->
            <div class="alert alert-info" data-ng-show="resetPasswordConfirmationMessage">
                Are you sure you want to reset your password?
                You will be redirect to the login page and will be required to log back in with new password.
                <br/>
                <a href="" class="btn btn-success btn-sm" data-ng-click="resetPassword()" data-ng-click="resetPasswordConfirmationMessage = false"> Yes</a>
                <button type="button" class="btn btn-danger btn-sm" data-ng-click="resetPasswordConfirmationMessage = false">No</button>
            </div>
            <!--delete account confirmation message-->
            <div class="alert alert-danger" data-ng-show="deleteAccountConfirmationMessage">
                Are you sure you want to delete your account and lose all your data
                and kick all your church members off the social network?
                <br/>
                <a href="#" class="btn btn-success btn-sm" data-ng-click="deleteAccount()"> Yes</a>
                <button type="button" class="btn btn-danger btn-sm" data-ng-click="deleteAccountConfirmationMessage = false">No</button>
            </div>
            <!--Notifications-->
            <div class="alert alert-success" data-ng-show="updateSuccess"><p>Successful! Your changes have been updated.</p></div><!--update successful-->
            <div class="alert alert-success" data-ng-show="resetSuccess"><p>Successful! Password has been reset.</p></div><!--update successful-->
            <div class="alert alert-danger" data-ng-show="updateFailure"><p>Oops! We are having trouble updating your account. Please try later.</p></div><!--update required error-->
            <div class="alert alert-danger" data-ng-show="passwordMatchError"><p>Passwords do not match. Check your spelling and try again.</p></div><!--update password error-->
        </div>
        <!--column 1-->
        <!--church info container-->
        <div class="col-lg-6 col-md-6 border1">
            <div class="panel panel-primary">
                <!--church info head-->
                <div class="panel-heading">
                    <h3 class="panel-title">Church Info</h3>
                </div>
                <!--church info body-->
                <div class="panel-body">
                    <!--church info form-->
                    <div class="col-lg-12 col-md-12 form-group">
                        <!--church info name-->
                        <label for="churchName">Name</label>
                        <input type="text" class="form-control" id="churchName" name="churchName" value="{{currentUser.name}}" data-ng-model="updateObject.name" />
                        <!--church info address-->
                        <label for="churchAddress">Address</label>
                        <input type="text" class="form-control" id="churchAddress" name="churchAddress" value="{{currentUser.address.street}}" data-ng-model="updateObject.address" />
                        <!--church info city-->
                        <label for="churchCity">City</label>
                        <input type="text" class="form-control" id="churchCity" name="churchCity" value="{{currentUser.address.city}}" data-ng-model="updateObject.city" />
                        <!--church info state-->
                        <label for="churchState">State</label>
                        <select class="form-control" id="churchState" name="churchState" title="State" value="{{currentUser.address.state}}" data-ng-model="updateObject.state">
                            <option>AL</option>
                            <option>AK</option>
                            <option>AZ</option>
                            <option>AR</option>
                            <option>CA</option>
                            <option>CO</option>
                            <option>CT</option>
                            <option>DE</option>
                            <option>FL</option>
                            <option>GA</option>
                            <option>HI</option>
                            <option>ID</option>
                            <option>IL</option>
                            <option>IN</option>
                            <option>IA</option>
                            <option>KS</option>
                            <option>KY</option>
                            <option>LA</option>
                            <option>ME</option>
                            <option>MD</option>
                            <option>MA</option>
                            <option>MI</option>
                            <option>MN</option>
                            <option>MS</option>
                            <option>MO</option>
                            <option>MT</option>
                            <option>NE</option>
                            <option>NV</option>
                            <option>NH</option>
                            <option>NJ</option>
                            <option>NM</option>
                            <option>NY</option>
                            <option>NC</option>
                            <option>ND</option>
                            <option>OH</option>
                            <option>OK</option>
                            <option>OR</option>
                            <option>PA</option>
                            <option>RI</option>
                            <option>SC</option>
                            <option>SD</option>
                            <option>TN</option>
                            <option>TX</option>
                            <option>UT</option>
                            <option>VT</option>
                            <option>VA</option>
                            <option>WA</option>
                            <option>WV</option>
                            <option>WI</option>
                            <option>WY</option>
                        </select>
                        <!--church info zipcode-->
                        <label for="churchZipcode">Zipcode</label>
                        <input type="text" class="form-control" id="churchZipcode" name="churchZipcode" value="{{currentUser.address.zip}}" data-ng-model="updateObject.zip" />
                        <!--church info website-->
                        <label for="churchWebsite">Website</label>
                        <input type="text" class="form-control" id="churchWebsite" name="churchWebsite" value="{{currentUser.website}}" data-ng-model="updateObject.website"  />
                        <!--church info phone-->
                        <label for="churchPhoneNumber">Phone Number</label>
                        <input type="text" class="form-control" id="churchPhoneNumber" name="churchPhoneNumber" value="{{currentUser.phone}}" data-ng-model="updateObject.phone" />
                        <!--church info bio-->
                        <label for="churchBio">Bio</label>
                        <textarea class="form-control" id="churchBio" name="churchBio" rows="13" cols="100%" value="{{currentUser.bio}}" data-ng-model="updateObject.bio"></textarea>
                        <div class="col-lg-12 col-md-12 border1">
                            <div class="col-lg-6 col-md-6 border1"><span class="glyphicon glyphicon-info-sign"></span></div><!--church info icon-->
                            <div class="col-lg-6 col-md-6 border1"><button type="button" class="btn btn-md btn-purple pull-right" data-ng-click="updateChurch()">Update</button></div><!--church info update button-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--column 2-->
        <div class="col-lg-6 col-md-6 border1">
            <!--authentication container-->
            <div class="col-lg-12 col-md-12 border1">
                <div class="panel panel-primary">
                    <!--authentication head-->
                    <div class="panel-heading">
                        <h3 class="panel-title">Account Authentication</h3>
                    </div>
                    <!--authentication body-->
                    <div class="panel-body">
                        <!--authentication form-->
                        <div class="form-group form-group-lg">
                            <!--authentication email-->
                            <label for="accountEmail">Email</label>
                            <input type="email" class="form-control" id="accountEmail" name="accountEmail" value="{{currentUser.email}}" />
                            <!--authentication current password-->
                            <label for="currentPassword">Current Password</label>
                            <input type="password" class="form-control" id="currentPassword" name="currentPassword" placeholder="Current Password" />
                            <!--authentication new password-->
                            <label for="newPassword">New Password</label>
                            <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Password" data-ng-model="newPassword"/>
                            <!--authentication retype password-->
                            <label for="retypeNewPassword">Retype Password</label>
                            <input type="password" class="form-control" id="retypeNewPassword" name="retypeNewPassword" placeholder="Retype Password" data-ng-model="newPasswordRetyped"/>
                            <div class="col-lg-12 col-md-12 border1">
                                <div class="col-lg-6 col-md-6 border1"><span class="glyphicon glyphicon-info-sign"></span></div><!--authentication info icon-->
                                <div class="col-lg-6 col-md-6 border1"><button type="button" class="btn btn-md btn-purple btn-block pull-right" data-ng-show="!resetPasswordConfirmationMessage" data-ng-click="resetPasswordConfirmationMessage = true; passwordMatchError = false;">Reset Password</button></div><!--authentication reset button-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--service time container-->
            <div class="col-lg-12 col-md-12 border1">
                <div class="panel panel-primary">
                    <!--service time head-->
                    <div class="panel-heading">
                        <h3 class="panel-title">Service Times</h3>
                    </div>
                    <!--service time body-->
                    <div class="panel-body">
                        <!--service time form-->
                        <div class="form-group form-group-lg">
                            <div class="col-lg-12 col-md-12 border1">
                                <!--service time active times-->
                                <div class="col-lg-12 col-md-12 border1">
                                    <!--service time single time-->
                                    <div class="col-lg-12 col-mg-12 border1" ng-repeat="service in currentUser.services">
                                        <div class="col-lg-11 col-md-11">{{service.day}} {{service.time}}</div><!--service time single active date & time-->
                                        <div class="col-lg-1 col-md-1"><a><span class="glyphicon glyphicon-remove" ng-click="removeServiceFromServiceList($index)"></span></a></div><!--service time single remove date & time-->
                                    </div>
                                </div>
                                <!--service time add-->
                                <div class="col-lg-12 col-md-12 border1">
                                    <!--service time day-->
                                    <div class="col-lg-6 col-md-6 border1">
                                        <select class="form-control" name="serviceDay" title="Sunday" data-ng-model="serviceObject.day"><!--service time day select-->
                                            <option>Sunday</option>
                                            <option>Monday</option>
                                            <option>Tuesday</option>
                                            <option>Wednesday</option>
                                            <option>Thursday</option>
                                            <option>Friday</option>
                                            <option>Saturday</option>
                                        </select><!--service time day select-->
                                    </div>
                                    <!--service time hour-->
                                    <div class="col-lg-6 col-md-6 border1">
                                        <select class="form-control" name="serviceTime" title="12:00 am" data-ng-model="serviceObject.time"><!--service time hour select-->
                                            <option>12:00 am</option>
                                            <option>1:00 am</option>
                                            <option>2:00 am</option>
                                            <option>3:00 am</option>
                                            <option>4:00 am</option>
                                            <option>5:00 am</option>
                                            <option>6:00 am</option>
                                            <option>7:00 am</option>
                                            <option>8:00 am</option>
                                            <option>9:00 am</option>
                                            <option>10:00 am</option>
                                            <option>11:00 am</option>
                                            <option>12:00 pm</option>
                                            <option>1:00 pm</option>
                                            <option>2:00 pm</option>
                                            <option>3:00 pm</option>
                                            <option>4:00 pm</option>
                                            <option>5:00 pm</option>
                                            <option>6:00 pm</option>
                                            <option>7:00 pm</option>
                                            <option>8:00 pm</option>
                                            <option>9:00 pm</option>
                                            <option>10:00 pm</option>
                                            <option>11:00 pm</option>
                                        </select><!--service time hour select-->
                                    </div>
                                    <div class="col-lg-12 col-md-12 border1"><a href="" ng-click="addServiceToServiceList()"><span class="glyphicon glyphicon-plus"></span> Add another service time</a></div><!--add another service time link-->
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 border1">
                                <div class="col-lg-6 col-md-6 border1"><span class="glyphicon glyphicon-info-sign"></span></div><!--service time info icon-->
                                <div class="col-lg-6 col-md-6 border1"><button type="submit" class="btn btn-md btn-purple btn-block pull-right" ng-click="updateChurchServices()">Update</button></div><!--service time button-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--delete account container-->
    <div class="col=lg-12 col-md-12 border1">
        <a href="#">Delete Account</a><!--delete account link-->
    </div>
</div>
