<!-- Created by Josh Pagley on 2/24/14.-->
<!-- views/portal/index.ejs main index view for ZC Church Portal -->

<!DOCTYPE html>
<html data-ng-app="zcApp">
<head>
    <meta charset="utf-8">
    <title>Zion Connect</title>
    <link href="./vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="./css/global.css" rel="stylesheet" type="text/css" />
    <link href="./css/portal-custom.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="col-lg-12 col-md-12 portal-container">

    <!--portal shell left-->
    <div class="col-lg-2 col-md-2 portal-shell-left">
        <!--portal shell left lion-->
        <div class="col-lg-12 col-md-12 lion-logo">
            <img class="col-lg-12 col-md-12" src="./images/lion.jpg" /><!--portal shell left lion logo-->
        </div>
        <!--portal shell left nav-->
        <div class="col-lg-12 col-md-12">
            <ul class="list-group">
                <li class="list-group-item"><a href="#/feed"><span class="glyphicon glyphicon-home"></span> Feed</a></li><!--nav news feed link-->
                <li class="list-group-item"><a href="#/sermons"><span class="glyphicon glyphicon-book"></span> Sermons</a></li><!--nav sermons link-->
                <li class="list-group-item"><a href=""><span class="glyphicon glyphicon-th-large"></span> Groups</a></li><!--nav groups link-->
                <li class="list-group-item"><a href="#/members"><span class="glyphicon glyphicon-user"></span> Members</a></li><!--nav members link-->
                <!--<li class="list-group-item"><a href="#/checkins"><span class="glyphicon glyphicon-stats"></span> Analytics</a></li><!--nav check-ins link-->
            </ul>
        </div>
    </div>
    <!--portal shell top-->
    <div class="col-lg-10 col-md-10 background-fff portal-content">
        <div class="col-lg-10 col-md-offset-1 col-md-10 col-md-offset-1 portal-shell-top">
            <div class="col-lg-6 col-md-6 portal-shell-top-header"><h2></h2></div><!--top page header-->
            <div class="col-lg-6 col-md-6 portal-shell-top-content">
                <!--top church action icons-->
                <div class="col-lg-3 col-md-3 pull-right">

                    <!--top notifications icon-->
                    <div class="col-lg-4 col-md-4 dropdown-container top-icon">
                        <div class="dropdown">
                            <a href="" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown"><span class="glyphicon glyphicon-bell"></span></a>
                            <!--top notifications icon dropdown menu-->
                            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1">
                                <!--top notifications dropdown single notification-->
                                <li>
                                    <a href="#" role="menuitem">
                                        <div class="col-lg-12 col-md-12 border1">
                                            <!--top single notification user info-->
                                            <div class="col-lg-12 col-md-12 border2"><h5>John Doe</h5></div><!--top single notification user name-->
                                            <div class="col-lg-12 col-md-12 secondary-container border2">
                                                <div class="col-lg-12 col-md-12 border2"><span class="secondary color-aaa">Left a comment for you...</span></div><!--top single notification user action-->
                                                <div class="col-lg-12 col-md-12 border2"><span class="secondary color-aaa">Tuesday 4:30 pm</span></div><!--top single notification date-->
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!--top messages icon-->
                    <div class="col-lg-4 col-md-4 dropdown-container top-icon">
                        <div class="dropdown">
                            <a href="" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown"><span class="glyphicon glyphicon-envelope"></span></a>
                            <!--top messages icon dropdown menu-->
                            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1">
                                <!--top messages dropdown single message-->
                                <li>
                                    <a href="#" role="menuitem">
                                        <div class="col-lg-12 col-md-12 border1">
                                            <!--top single user message-->
                                            <div class="col-lg-12 col-md-12 border2"><h5>John Doe</h5></div><!--top single message user name-->
                                            <div class="col-lg-12 col-md-12 secondary-container border2">
                                                <div class="col-lg-12 col-md-12 border2"><span class="secondary color-aaa">Hey, whats up?</span></div><!--top single message user action-->
                                                <div class="col-lg-12 col-md-12 border2"><span class="secondary color-aaa">Tuesday 4:30 pm</span></div><!--top single message date-->
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <!--top messages dropdown single message-->
                                <li>
                                    <a href="#" role="menuitem">
                                        <div class="col-lg-12 col-md-12 border1">
                                            <!--top single user message-->
                                            <div class="col-lg-12 col-md-12 border2"><h5>John Doe</h5></div><!--top single message user name-->
                                            <div class="col-lg-12 col-md-12 secondary-container border2">
                                                <div class="col-lg-12 col-md-12 border2"><span class="secondary color-aaa">Hey, whats up?</span></div><!--top single message user action-->
                                                <div class="col-lg-12 col-md-12 border2"><span class="secondary color-aaa">Tuesday 4:30 pm</span></div><!--top single message date-->
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <!--top messages see all messages link-->
                                <li>
                                    <a href="#" role="menuitem">
                                        <div class="col-lg-12 col-md-12 clearfix see-all-messages-area border1">
                                            <a href="#/messages" class="see-all-link">View Messages</a>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--top gear icon-->
                    <div class="col-lg-4 col-md-4 dropdown-container top-icon">
                        <div class="dropdown">
                            <a href="" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span></a>
                            <!--top gear icon dropdown menu-->
                            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#/settings" role="menuitem">Settings</a></li><!--top gear dropdown settings link-->
                                <li><a href="/logout" role="menuitem">Logout</a></li><!--top gear dropdown logout link-->
                            </ul>
                        </div>
                    </div>
                </div>
                <!--top church logo-->
                <div class="col-lg-1 col-md-1 pull-right top-logo"><img class="col-lg-12 col-md-12 img-rounded pull-right" src="./images/lion.jpg" /></div>
            </div>
        </div>

        <!--portal views-->
        <div class="col-lg-12 col-md-12 background-fff">

            <div class="content">
                <!-- This is where all the views will be inserted. -->
                <div data-ng-view></div>
            </div>

        </div>
    </div>

</div>

<script type="text/javascript" src="/vendor/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/vendor/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="/vendor/angular/angular.js"></script>
<script type="text/javascript" src="/vendor/angular-resource/angular-resource.js"></script>
<script type="text/javascript" src="/vendor/angular-route/angular-route.js"></script>
<script type="text/javascript" src="/app/app.js"></script>
<script type="text/javascript" src="/app/controllers/FeedController.js"></script>
<script type="text/javascript" src="/app/controllers/SettingsController.js"></script>
<script type="text/javascript" src="/app/controllers/SermonAddController.js"></script>
<script type="text/javascript" src="/app/controllers/SermonEditController.js"></script>
<script type="text/javascript" src="/app/controllers/SermonsController.js"></script>
<script type="text/javascript" src="/app/controllers/SermonHomeController.js"></script>
<script type="text/javascript" src="/app/controllers/CheckinsController.js"></script>
<script type="text/javascript" src="/app/controllers/MembersController.js"></script>
<script type="text/javascript" src="/app/controllers/MemberProfileController.js"></script>
<script type="text/javascript" src="/app/controllers/MessagesController.js"></script>
<script type="text/javascript" src="/app/services/zcSettings.js"></script>
<script type="text/javascript" src="/app/services/IdentityFactory.js"></script>
<script type="text/javascript" src="/app/services/FeedFactory.js"></script>
<script type="text/javascript" src="/app/services/SermonsFactory.js"></script>
<script type="text/javascript" src="/app/services/SermonsHomeFactory.js"></script>
<script type="text/javascript" src="/app/services/zcCheckins.js"></script>
<script type="text/javascript" src="/app/services/zcMembers.js"></script>
<script type="text/javascript" src="/app/services/zcNotifications.js"></script>
<script type="text/javascript" src="/app/services/zcMessages.js"></script>

</body>
</html>
