<!-- Created by Josh Pagley on 2/24/14.-->
<!-- views/portal/index.ejs main index view for ZC Church Portal -->

<!DOCTYPE>
<html data-ng-app="zcApp">
<head>
    <meta charset="utf-8">
    <title>Zion Connect</title>
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/custom.css">


</head>
<body>

<a href="/logout" style="float:right;margin:20px;border:1px solid black;padding:10px;">Logout</a>

<ul class="nav nav-pills">
    <li class="active"><a href="#/feed">Feed</a></li>
    <li><a href="#/sermons">Sermons</a></li>
    <li><a href="#/settings">Settings</a></li>
</ul>

<div class="content">
    <!-- This is where all the views will be inserted. -->
    <div data-ng-view></div>
</div>

<script type="text/javascript" src="/vendor/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/vendor/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="/vendor/toastr/toastr.js"></script>
<script type="text/javascript" src="/vendor/angular/angular.js"></script>
<script type="text/javascript" src="/vendor/angular-resource/angular-resource.js"></script>
<script type="text/javascript" src="/vendor/angular-route/angular-route.js"></script>
<script type="text/javascript" src="/app/app.js"></script>
<script type="text/javascript" src="/app/controllers/FeedCtrl.js"></script>
<script type="text/javascript" src="/app/controllers/SettingsCtrl.js"></script>
<script type="text/javascript" src="/app/services/zcSettings.js"></script>
<script type="text/javascript" src="/app/services/zcIdentity.js"></script>
<script type="text/javascript" src=""></script>
</body>
<html/>
