<% include includes/header.ejs %>

<!-- show any messages that come back with authentication -->
<% if (message.length > 0) { %>
<div class="alert alert-danger"><%= message %></div>
<% } %>

<br/>
<div class="container">
    <div class="panel panel-default" style="width:30%; margin: auto;">
        <div class="panel-heading">
            <h3 class="panel-title">Zion Connect Login</h3>
        </div>
        <div class="panel-body">
            <!--Login Form-->
            <form action="/login" method="post" class="form-signin" role="form">
                <div class="form-group">
                    <input type="text" class="form-control" name="email" autofocus="autofocus" placeholder="Email Address" required >
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Password" required>
                </div>

                <button type="submit" class="btn btn-primary btn-block">Login</button>
            </form>
        </div>
    </div>
    <br/>
    <div style="width:30%; margin: auto;">
        <span style="color:#808080">Need an account? </span><a href="/signup">Signup</a>
    </div>
</div>





<% include includes/footer.ejs%>