<% include includes/header.ejs %>

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="glyphicon glyphicon-check"></span> Signup</h1>
    <br/>

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- Login Form -->
    <div id="step1">
        <h1 style="color: #808080">Step 1</h1>
        <br/>
        <div class="form-group">
            <label>Name</label> <span id="nameError" style="color: red" class="glyphicon glyphicon-asterisk hide-form-validation-error"></span>
            <input type="text" class="form-control" name="name" id="name" autofocus="autofocus" required="required">
        </div>
        <div class="form-group">
            <label>Email</label> <span id="emailError" style="color: red" class="glyphicon glyphicon-asterisk hide-form-validation-error"></span>
            <input type="text" class="form-control" name="email" id="email" required="required">
        </div>
        <div class="form-group">
            <label>Address</label><span id="addressError" style="color: red" class="glyphicon glyphicon-asterisk hide-form-validation-error"></span>
            <input type="text" class="form-control" name="address" id="address" required="required">
        </div>
        <div class="form-group">
            <label>City</label> <span id="cityError" style="color: red" class="glyphicon glyphicon-asterisk hide-form-validation-error"></span>
            <input type="text" class="form-control" name="city" id="city" required="required">
        </div>
        <div class="form-group">
            <label>State</label><span id="stateError" style="color: red" class="glyphicon glyphicon-asterisk hide-form-validation-error"></span>
            <select class="form-control" name="state" id="state" required="required">
                <option>AL</option>
                <option>AK</option>
                <option>AZ</option>
                <option>AR</option>
                <option>CA</option>
                <option>CO</option>
                <option>CT</option>
                <option>DE</option>
                <option>FL</option>
                <option>GA</option>
                <option>HI</option>
                <option>ID</option>
                <option>IL</option>
                <option>IN</option>
                <option>IA</option>
                <option>KS</option>
                <option>KY</option>
                <option>LA</option>
                <option>ME</option>
                <option>MD</option>
                <option>MA</option>
                <option>MI</option>
                <option>MN</option>
                <option>MS</option>
                <option>MO</option>
                <option>MT</option>
                <option>NE</option>
                <option>NV</option>
                <option>NH</option>
                <option>NJ</option>
                <option>NM</option>
                <option>NY</option>
                <option>NC</option>
                <option>ND</option>
                <option>OH</option>
                <option>OK</option>
                <option>OR</option>
                <option>PA</option>
                <option>RI</option>
                <option>SC</option>
                <option>SD</option>
                <option>TN</option>
                <option>TX</option>
                <option>UT</option>
                <option>VT</option>
                <option>VA</option>
                <option>WA</option>
                <option>WV</option>
                <option>WI</option>
                <option>WY</option>
            </select>
        </div>
        <div class="form-group">
            <label>Zip</label><span id="zipError" style="color: red" class="glyphicon glyphicon-asterisk hide-form-validation-error"></span>
            <input type="text" class="form-control" name="zip" id="zip" required="required">
        </div>
        <div class="form-group">
            <label>Phone</label>
            <input type="tel" class="form-control" name="phone" id="phone">
        </div>
        <div class="form-group">
            <label>Website</label>
            <input name="website" class="form-control" id="website"/>
        </div>
        <div class="form-group">
            <label>Denomination</label>
            <input name="denomination" class="form-control" id="denomination"></input>
        </div>
        <div class="form-group">
            <label>Bio</label>
            <textarea name="bio" class="form-control" rows="4" id="bio"></textarea>
        </div>

        <!--Validation Error Message-->
        <div id="validationErrorMessage"  class="alert alert-danger alert-dismissable hide-form-validation-error">
            <span>Please fill out required fields.</span><!--validation failed error paragraph-->
            <button id="validationErrorMessageButton" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><!--validation failed error x icon-->
        </div>

        <button id="step1Button" class="btn btn-default btn-lg">Next<span class="glyphicon glyphicon-chevron-right"></span></button>
    </div><br/>

    <div id="step2" class="hide-signup-step">
        <h1 style="color: #808080">Step 2</h1>
        <br />
        <!--service time container-->
        <div class="col-lg-12 col-md-12 single-settings-form">
            <div class="panel panel-default">
                <!--service time head-->
                <div class="panel-heading">
                    <h3 class="panel-title purple-header">Add Service Times</h3>
                </div>
                <!--service time body-->
                <div class="panel-body">
                    <!--service time form-->
                    <div class="col-lg-12 col-md-12">
                        <div class="fcol-lg-12 col-md-12">
                            <!--service time active times-->
                            <div class="well well-sm clearfix">
                                <!--service time single time-->
                                <div class="col-lg-12 col-md-12">
                                    <div class="alert-dismissable services">

                                    </div>
                                </div>
                            </div>
                            <!--service time add-->
                            <div class="col-lg-12 col-md-12 form-group">
                                <!--service time day-->
                                <div class="col-lg-5 col-md-5">
                                    <select id="serviceDay" class="form-control" name="serviceDay" title="Sunday"><!--service time day select-->
                                        <option>Sunday</option>
                                        <option>Monday</option>
                                        <option>Tuesday</option>
                                        <option>Wednesday</option>
                                        <option>Thursday</option>
                                        <option>Friday</option>
                                        <option>Saturday</option>
                                    </select><!--service time day select-->
                                </div>
                                <!--service time hour-->
                                <div class="col-lg-5 col-md-5 add-service">
                                    <input class="form-control" id="serviceTime" type="text" />
                                </div>
                                <div class="col-lg-2 col-md-2 add-service"><button class="btn btn-success btn-block"><span class="glyphicon glyphicon-plus"></span> Add</button></div><!--add another service time link-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button id="step2BackButton" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-chevron-left"></span>Back</button>
        <button id="step2Button" class="btn btn-default btn-lg">Next<span class="glyphicon glyphicon-chevron-right"></span></button>
    </div>
    <br />
    <div id="step3" class="hide-signup-step">
        <h1 style="color: #808080">Final Step</h1>
        <br />
        <!--authentication container-->
        <div class="col-lg-12 col-md-12 single-settings-form">
            <div class="panel panel-default">
                <!--authentication head-->
                <div class="panel-heading">
                    <h3 class="panel-title purple-header">Administrator Account Credentials</h3>
                </div>
                <!--authentication body-->
                <div class="panel-body">
                    <!--authentication form-->
                    <form>
                        <!--authentication email-->
                        <div class="form-group">
                            <label class="control-label" for="accountEmail">Email</label>
                            <input type="email" class="form-control" id="adminEmail" name="accountEmail" />
                        </div>
                        <!--authentication current password-->
                        <div class="form-group">
                            <label class="control-label" for="currentPassword">Password</label>
                            <input type="password" class="form-control" id="adminPassword" name="currentPassword" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <button id="step3BackButton" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-chevron-left"></span>Back</button>
        <button id="step3Button" class="btn btn-default btn-lg">Finish<span class="glyphicon glyphicon-ok"></span></button>
    </div>

    <hr>

    <p>Aready have an account? <a href="/">Login</a></p>

</div>

<% include includes/footer.ejs%>

